<div class="p-ranking-container clearfix ">
  <div class="container pt-5">
    <div class="col-10 mx-auto">
      <div class="p-ranking-box box-shadow rounded bg-white">
        <div class="a-w-icon  d-block  py-4 px-4 fw-600 ">
          <div class="d-flex p-rank-header">
            <div>
              <h6 class="m-0 pt-1 text-dark">
                <i class="material-icons gold-color fs-30 mr-2 ">local_activity</i>
                <span> Organizational  Lists</span>
              </h6>
              <i class="bg-icon material-icons">local_activity</i>
            </div>
            <div class="ml-auto">

            </div>
          </div>
        </div>
        <div class="px-4 mt-4 pb-4" *ngIf="(employeeHierarchy$ | async) as employee">
          <div class="mt-2 border rounded px-3 py-2 ff-theme">
            <!--<div class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <div class="d-flex">
        <div>
          <span class="d-inline-block mr-2 border  border-success bg-success-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
            <i class="list-icon material-icons">person_pin</i>
          </span>
          <span class="fw-600 text-success">PRESIDENT</span>
        </div>
        <div class="ml-auto" style="width:200px;">
          <i class="material-icons opacity5 mr-2">recent_actors</i>
          <span class="align-middle fw-600 text-dark">10</span>
        </div>
        <div>
          <i class="material-icons">expand_more</i>
        </div>
      </div>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="pt-3 py-2 border-top mt-2 ">
        <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
        <span class="ml-2 fw-500 ff-theme text-dark"> {{employee.employeeListName.first_name}} {{employee.employeeListName.last_name}}</span>
      </div>
    </div>
  </div>-->
            <!-- IF ITS UNDER: PUT INSIDE -->
            <!--<div class="pl-4">
    <div class="mt-2 border rounded px-3 py-2 ff-theme">
      <div class="" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
        <div class="d-flex">
          <div class="col-6">
            <span class="d-inline-block mr-2 border border-info bg-info-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
              <i class="list-icon material-icons">person_pin</i>
            </span>
            <span class="fw-600 text-info">VP</span>
          </div>
          <div class="ml-auto" style="width:200px;">
            <i class="material-icons opacity5 mr-2">recent_actors</i>
            <span class="align-middle fw-600 text-dark">10</span>
          </div>
          <div>
            <i class="material-icons">expand_more</i>
          </div>
        </div>
      </div>
      <div class="collapse" id="collapseExample1">
        <div class="pt-3 py-2 border-top mt-2 ">
          <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
          <span class="ml-2 fw-500 ff-theme text-dark">Johnny Legendary</span>
        </div>
        <div class="pt-3 py-2 border-top mt-2 ">
          <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
          <span class="ml-2 fw-500 ff-theme text-dark">Johnny Legendary</span>
        </div>
      </div>
    </div>
    <div class="pl-4">
      <div class="mt-2 border rounded px-3 py-2 ff-theme">
        <div class="" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
          <div class="d-flex">
            <div class="col-6">
              <span class="d-inline-block mr-2 border  border-warning bg-warning-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
                <i class="list-icon material-icons">person_pin</i>
              </span>
              <span class="fw-600 text-warning">SVP</span>
            </div>
            <div class="ml-auto" style="width:200px;">
              <i class="material-icons opacity5 mr-2">recent_actors</i>
              <span class="align-middle fw-600 text-dark">10</span>
            </div>
            <div>
              <i class="material-icons">expand_more</i>
            </div>
          </div>
        </div>
        <div class="collapse" id="collapseExample2">
          <div class="pt-3 py-2 border-top mt-2 ">
            <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
            <span class="ml-2 fw-500 ff-theme text-dark">Johnny Legendary</span>
          </div>
          <div class="pt-3 py-2 border-top mt-2 ">
            <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
            <span class="ml-2 fw-500 ff-theme text-dark">Johnny Legendary</span>
          </div>
        </div>
      </div>
      <div class="mt-2 border rounded px-3 py-2 ff-theme">
        <div class="" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
          <div class="d-flex">
            <div class="col-6">
              <span class="d-inline-block mr-2 border border-warning bg-warning-contrast  rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
                <i class="list-icon material-icons">person_pin</i>
              </span>
              <span class="fw-600 text-warning">COMPANY</span>
            </div>
            <div class="ml-auto" style="width:200px;">
              <i class="material-icons opacity5 mr-2">recent_actors</i>
              <span class="align-middle fw-600 text-dark">10</span>
            </div>
            <div>
              <i class="material-icons">expand_more</i>
            </div>
          </div>
        </div>
        <div class="collapse" id="collapseExample2">
          <div class="pt-3 py-2 border-top mt-2 ">
            <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
            <span class="ml-2 fw-500 ff-theme text-dark">Johnny Legendary</span>
          </div>
          <div class="pt-3 py-2 border-top mt-2 ">
            <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
            <span class="ml-2 fw-500 ff-theme text-dark">Johnny Legendary</span>
          </div>
        </div>
      </div>
    </div>
  </div>-->
            <div class="mt-2 border rounded px-3 py-2 ff-theme">
              <div class="" data-toggle="collapse" href="#director" role="button" aria-expanded="false" aria-controls="director">
                <div class="d-flex">
                  <div class="col-6">
                    <span class="d-inline-block mr-2 border  border-success bg-success-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
                      <i class="list-icon material-icons">person_pin</i>
                    </span>
                    <span class="fw-600 text-success">REP</span>
                  </div>
                  <div class="ml-auto" style="width:200px;">
                    <span  class="fw-500 ff-theme text-dark"> {{ employee.employeeListName.firstName }} {{ employee.employeeListName.lastName }} </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-2 border rounded px-3 py-2 ff-theme">
              <div class="" data-toggle="collapse" href="#director" role="button" aria-expanded="false" aria-controls="director">
                <div class="d-flex">
                  <div class="col-6">
                    <span class="d-inline-block mr-2 border  border-success bg-success-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
                      <i class="list-icon material-icons">person_pin</i>
                    </span>
                    <span class="fw-600 text-success">Manager</span>
                  </div>
                  <div class="ml-auto" style="width:200px;">
                    <!--<span *ngIf="employee && employee.employeeListName.manager.inactive==0" class='dot dot-sm dot-online'></span>
                    <span *ngIf="employee && employee.employeeListName.manager.inactive==1" class='dot dot-sm dot-offline'></span>-->
                    <span class="fw-500 ff-theme text-dark"> {{employee.employeeListName.managerFirst}} {{employee.employeeListName.managerLast}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-2 border rounded px-3 py-2 ff-theme">
              <div class="" data-toggle="collapse" href="#director" role="button" aria-expanded="false" aria-controls="director">
                <div class="d-flex">
                  <div class="col-6">
                    <span class="d-inline-block mr-2 border  border-success bg-success-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
                      <i class="list-icon material-icons">person_pin</i>
                    </span>
                    <span class="fw-600 text-success">Regional</span>
                  </div>
                  <div class="ml-auto" style="width:200px;">
                    <span class="fw-500 ff-theme text-dark"> {{employee.employeeListName.regionalFirst}} {{employee.employeeListName.regionalLast}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-2 border rounded px-3 py-2 ff-theme">
              <div class="" data-toggle="collapse" href="#director" role="button" aria-expanded="false" aria-controls="director">
                <div class="d-flex">
                  <div class="col-6">
                    <span class="d-inline-block mr-2 border  border-success bg-success-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
                      <i class="list-icon material-icons">person_pin</i>
                    </span>
                    <span class="fw-600 text-success">Regional Executive</span>
                  </div>
                  <div class="ml-auto" style="width:200px;">
                    <span class="fw-500 ff-theme text-dark"> {{employee.employeeListName.regionalExecFirst}} {{employee.employeeListName.regionalExecLast}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-2 border rounded px-3 py-2 ff-theme">
              <div class="" data-toggle="collapse" href="#director" role="button" aria-expanded="false" aria-controls="director">
                <div class="d-flex">
                  <div class="col-6">
                    <span class="d-inline-block mr-2 border  border-success bg-success-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
                      <i class="list-icon material-icons">person_pin</i>
                    </span>
                    <span class="fw-600 text-success">Director Vice President</span>
                  </div>
                  <div class="ml-auto" style="width:200px;">
                    <span class="fw-500 ff-theme text-dark"> {{employee.employeeListName.dvpFirst}} {{employee.employeeListName.dvpLast}}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-2 border rounded px-3 py-2 ff-theme">
              <div class="" data-toggle="collapse" href="#director" role="button" aria-expanded="false" aria-controls="director">
                <div class="d-flex">
                  <div class="col-6">
                    <span class="d-inline-block mr-2 border  border-success bg-success-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
                      <i class="list-icon material-icons">person_pin</i>
                    </span>
                    <span class="fw-600 text-success">Vice President</span>
                  </div>
                  <div class="ml-auto" style="width:200px;">
                    <span class="fw-500 ff-theme text-dark"> {{employee.employeeListName.vicePresidentFirst}} {{employee.employeeListName.vicePresidentLast}}</span>
                  </div>
                  <div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="" class="pl-4">
              <div class="mt-2 border rounded px-3 py-2 ff-theme">
                <div class="" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                  <div class="d-flex">
                    <div class="col-6">
                      <span class="d-inline-block mr-2 border border-info bg-info-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
                        <i class="list-icon material-icons">person_pin</i>
                      </span>
                      <span class="fw-600 text-info">Senior Vice President</span>
                    </div>
                    <div class="ml-auto" style="width:200px;">
                      <span class="fw-500 ff-theme text-dark"> {{employee.employeeListName.seniorVicePresidentFirst}} {{employee.employeeListName.seniorVicePresidentLast}}</span>
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pl-4">
              <div class="mt-2 border rounded px-3 py-2 ff-theme">
                <div class="" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                  <div class="d-flex">
                    <div class="col-6">
                      <span class="d-inline-block mr-2 border border-info bg-info-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
                        <i class="list-icon material-icons">person_pin</i>
                      </span>
                      <span class="fw-600 text-info">Company</span>
                    </div>
                    <div class="ml-auto" style="width:200px;">
                      <span class="fw-500 ff-theme text-dark"> {{employee.employeeListName.companyFirst}} {{employee.employeeListName.companyLast}}</span>
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pl-4">
              <div class="mt-2 border rounded px-3 py-2 ff-theme">
                <div class="" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                  <div class="d-flex">
                    <div class="col-6">
                      <span class="d-inline-block mr-2 border border-info bg-info-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
                        <i class="list-icon material-icons">person_pin</i>
                      </span>
                      <span class="fw-600 text-info">Channel</span>
                    </div>
                    <div class="ml-auto" style="width:200px;">
                      <span class="fw-500 ff-theme text-dark"> {{employee.employeeListName.channelFirst}} {{employee.employeeListName.channelLast}}</span>
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  </div>
