<div class="p-ranking-container clearfix ">
  <div class="container pt-5">
    <div class="col-10 mx-auto">
      <div class="p-ranking-box box-shadow rounded bg-white">
        <div class="a-w-icon  d-block  py-4 px-4 fw-600 ">
          <div class="d-flex p-rank-header">
            <div>
              <h6 class="m-0 pt-1 text-dark">
                <i class="material-icons gold-color fs-30 mr-2 ">account_box</i>
                <span>Employee Accounts</span>
              </h6>
              <i class="bg-icon material-icons">local_activity</i>
            </div>
            <div class="ml-auto">
              <button class="btn-warning btn btn-normal border-0 pull-right" (click)="addAccount()"><i class="material-icons">add</i>&nbsp;
                NEW</button>
            </div>
          </div>
        </div>
        <div class="py-3 px-4 bg-gray-100 d-flex align-items-center p-rank-header2">
          <div>
            <div class="form-input-icon"><i class="material-icons list-icon">search</i>
              <input class="form-control fs-14 bg-transparent text-dark border-gray" placeholder="Search account ..."
                type="text" (keyup)="onSearch($event)" [(ngModel)]="search">
            </div>
          </div>
        </div>
        <div *ngIf="(loading$ | async); else loaded;" class="loader"></div>
        <ng-template #loaded>
          <div class="table-holder py-3 px-4">
            <table class="table table-striped table-hover">
              <thead>
                <tr class="text-dark text-uppercase fs-12 fw-600">
                  <td style="min-width: 180px;" class="px-3 py-2"> Name</td>
                  <td style="min-width: 140px;" class="px-3 py-2"> Email</td>
                  <td style="min-width: 140px;" class="px-3 py-2"> Phone Number</td>
                  <td class="px-3 py-2"> Username</td>
                  <td class="px-3 py-2" style="width: 120px;"></td>
                </tr>
              </thead>
              <tbody class="text-dark">
                <ng-container *ngIf="(total_filtered$ | async) > 0; else noEmployeeAccounts">
                  <tr *ngFor="let e of employee_accounts$ | async; let i = index">
                    <td class="px-3">
                      <div class="fw-500 pt-1 lh-13">{{ e.first_name }} {{ e.last_name }}</div>
                    </td>
                    <td class=" px-3 py-2">{{ e.email }}</td>
                    <td class=" px-3 py-2">{{ e.phone_number }}</td>
                    <td class=" px-3 py-2">{{ e.username }}</td>
                    <td class=" px-3 py-2 text-center">
                      <button (click)="editAccount(e.id)" type="button" ngbTooltip="Edit Account" class="btn btn-outline-info bw-1 btn-circle btn-sm text-center ripple ml-1">
                        <i class="material-icons list-icon fs-20">edit</i>
                      </button>
                      <button (click)="deleteAccount(e.id)" type="button" ngbTooltip="Remove Account" class="btn btn-outline-info bw-1 btn-circle btn-sm text-center ripple ml-1">
                        <i class="material-icons list-icon fs-20">delete</i>
                      </button>
                    </td>
                  </tr>
                </ng-container>
                <ng-template #noEmployeeAccounts>
                  <tr>
                    <td colspan="5" class="text-center">No employee accounts found</td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
            <div class="row mt20" *ngIf="(total_filtered$ | async) > 0">
              <div class="col-xs-12 col-sm-6">
                <div class="mt5">Showing
                  <strong>{{ (total_filtered$ | async) | startPage:{ page: page, limit: (limit$ | async) } }}</strong>
                  to
                  <strong>{{ (total_filtered$ | async) | endPage:{ page: page, limit: (limit$ | async), total: (total$
                    | async) }
                    }}
                  </strong> of
                  <strong>{{ total$ | async }} employee account(s)</strong>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="pull-right">
                  <ngb-pagination [collectionSize]="(total$ | async)" [pageSize]="(limit$ | async)" [(page)]="page"
                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
