
      <main class="main-wrapper clearfix">
        <!-- Page Title Area -->
        <div class="p-ranking-container clearfix ">
          <div class="container pt-5">
            <div class="col-12 mx-auto">
              <div class="p-ranking-box box-shadow rounded bg-white">
                <div class="a-w-icon  d-block  py-4 px-4 fw-600 ">
                  <div class="d-flex p-rank-header">
                    <div>
                      <h6 class="m-0 pt-1 text-dark">
                        <i class="material-icons gold-color fs-30 mr-2 ">local_activity</i>
                        <span>Leaderboards</span>
                      </h6>
                      <i class="bg-icon material-icons">local_activity</i>
                    </div>
                    <div class="ml-auto">
                      <div class="text-dark d-inline-block" data-toggle="tooltip" data-placement="left" title="Your Power Rank">
                        <!--<span class="vertical-middle fs-16 mr-2">#124 </span>-->
                        <img src="assets/img/default-photo.png" class="rounded" alt="" height="30">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="py-3 px-4 bg-gray-100 d-flex align-items-center p-rank-header2">
                  <div class="ch-breadcrumb">

                    <div class="btn-group m-r-10 d-none">
                      <button aria-expanded="false" data-toggle="dropdown" class="px-3 py-1 ff-theme fs-14 btn btn-outline-dark bw-1 btn-sm dropdown-toggle  ripple" type="button">
                        All Senior Regions <span class="caret"></span>
                      </button>
                      <div role="menu" class="dropdown-menu d-none">
                        <a class="dropdown-item" href="#"><strong>All Senior Regions</strong></a>
                        <a class="dropdown-item" href="#">Austin 2018</a>
                        <a class="dropdown-item" href="#">Amarille 2018</a>
                        <a class="dropdown-item" href="#">Cheyenne Thatcher</a>
                      </div>
                    </div>

                  </div>
                  <div class="ml-auto col-5">
                    <div class="form-input-icon">
                      <i class="material-icons list-icon">search</i>
                      <input class="form-control fs-14 bg-transparent text-dark border-gray" placeholder="Find..." type="text">
                    </div>
                  </div>
                </div>
                <!--<div class="px-4 mt-4">
    <div class="mt-2 border rounded px-3 py-2 ff-theme">
      <div class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="d-flex">
          <div>
            <span class="d-inline-block mr-2 border  border-success bg-success-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
              <i class="list-icon material-icons">person_pin</i>
            </span>
            <span class="fw-600 text-success">PRESIDENT</span>
          </div>
          <div class="ml-auto" style="width:200px;"><i class="material-icons opacity5 mr-2">recent_actors</i> <span class="align-middle fw-600 text-dark">10</span></div>
          <div>
            <i class="material-icons">expand_more</i>
          </div>
        </div>
      </div>
      <div class="collapse" id="collapseExample">
        <div class="pt-3 py-2 border-top mt-2 ">
          <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
          <span class="ml-2 fw-500 ff-theme text-dark">Johnny Legendary</span>
        </div>
      </div>
    </div>
    <div class="pl-4">
      <div class="mt-2 border rounded px-3 py-2 ff-theme">
        <div class="" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
          <div class="d-flex">
            <div class="col-6">
              <span class="d-inline-block mr-2 border border-info bg-info-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
                <i class="list-icon material-icons">person_pin</i>
              </span>
              <span class="fw-600 text-info">VP</span>
            </div>
            <div class="ml-auto" style="width:200px;"><i class="material-icons opacity5 mr-2">recent_actors</i> <span class="align-middle fw-600 text-dark">10</span></div>
            <div>
              <i class="material-icons">expand_more</i>
            </div>
          </div>
        </div>
        <div class="collapse" id="collapseExample1">
          <div class="pt-3 py-2 border-top mt-2 ">
            <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
            <span class="ml-2 fw-500 ff-theme text-dark">Johnny Legendary</span>
          </div>
          <div class="pt-3 py-2 border-top mt-2 ">
            <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
            <span class="ml-2 fw-500 ff-theme text-dark">Johnny Legendary</span>
          </div>
        </div>
      </div>
      <div class="pl-4">
        <div class="mt-2 border rounded px-3 py-2 ff-theme">
          <div class="" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
            <div class="d-flex">
              <div class="col-6">
                <span class="d-inline-block mr-2 border  border-warning bg-warning-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
                  <i class="list-icon material-icons">person_pin</i>
                </span>
                <span class="fw-600 text-warning">SVP</span>
              </div>
              <div class="ml-auto" style="width:200px;"><i class="material-icons opacity5 mr-2">recent_actors</i> <span class="align-middle fw-600 text-dark">10</span></div>
              <div>
                <i class="material-icons">expand_more</i>
              </div>
            </div>
          </div>
          <div class="collapse" id="collapseExample2">
            <div class="pt-3 py-2 border-top mt-2 ">
              <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
              <span class="ml-2 fw-500 ff-theme text-dark">Johnny Legendary</span>
            </div>
            <div class="pt-3 py-2 border-top mt-2 ">
              <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
              <span class="ml-2 fw-500 ff-theme text-dark">Johnny Legendary</span>
            </div>
          </div>
        </div>
        <div class="mt-2 border rounded px-3 py-2 ff-theme">
          <div class="" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
            <div class="d-flex">
              <div class="col-6">
                <span class="d-inline-block mr-2 border border-warning bg-warning-contrast  rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
                  <i class="list-icon material-icons">person_pin</i>
                </span>
                <span class="fw-600 text-warning">COMPANY</span>
              </div>
              <div class="ml-auto" style="width:200px;"><i class="material-icons opacity5 mr-2">recent_actors</i> <span class="align-middle fw-600 text-dark">10</span></div>
              <div>
                <i class="material-icons">expand_more</i>
              </div>
            </div>
          </div>
          <div class="collapse" id="collapseExample2">
            <div class="pt-3 py-2 border-top mt-2 ">
              <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
              <span class="ml-2 fw-500 ff-theme text-dark">Johnny Legendary</span>
            </div>
            <div class="pt-3 py-2 border-top mt-2 ">
              <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
              <span class="ml-2 fw-500 ff-theme text-dark">Johnny Legendary</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-2 border rounded px-3 py-2 ff-theme">
      <div class="" data-toggle="collapse" href="#director" role="button" aria-expanded="false" aria-controls="director">
        <div class="d-flex">
          <div class="col-6">
            <span class="d-inline-block mr-2 border  border-success bg-success-contrast rounded-circle border text-center" style="width:30px;height:30px;padding-top: 2px;">
              <i class="list-icon material-icons">person_pin</i>
            </span>
            <span class="fw-600 text-success">DIRECTOR</span>
          </div>
          <div class="ml-auto" style="width:200px;"><i class="material-icons opacity5 mr-2">recent_actors</i> <span class="align-middle fw-600 text-dark">10</span></div>
          <div>
            <i class="material-icons">expand_more</i>
          </div>
        </div>
      </div>
      <div class="collapse" id="director">
        <div class="pt-3 py-2 border-top mt-2 ">
          <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
          <span class="ml-2 fw-500 ff-theme text-dark">Johnny Legendary</span>
        </div>
      </div>
    </div>
  </div-->
                <div *ngIf="(loading$ | async); else loaded;" class="loader"></div>
                <ng-template #loaded>
                  <div class="table-holder py-3 px-4">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr class="text-dark text-uppercase fs-12 fw-600">
                          <td class="px-3  py-2 text-center"> RANK</td>
                          <td style="min-width: 280px;" class="px-3 py-2"> REP</td>
                          <td class="px-3 py-2"> DTV&nbsp;Activated</td>
                          <td class="px-3 py-2"> Low&nbsp;Risk</td>
                          <td class="px-3 py-2"> Auto&nbsp;Pay</td>
                          <td class="px-3 py-2 text-center"> Same&nbsp;Day</td>
                          <td class="px-3 py-2"> Processing&nbsp;Fee</td>
                          <td class="px-3 py-2"> Additional&nbsp;Services</td>

                          <td></td>
                        </tr>
                      </thead>
                      <tbody class="text-dark">
                        <ng-container *ngIf="(total_filtered$ | async) > 0">
                          <tr *ngFor="let rank of rankings$ | async; let i = index">
                            <!--tr class="table-tr-gold">-->
                            <td *ngIf="i==0" class="text-warning  p-0 text-center ">
                              <div class="py-2 fs-20 ">
                                <span class="rank-icon rank-gold">
                                  <i class="fa fa-trophy fs-20 list-icon"></i>
                                </span>
                                <strong class="vertical-middle">{{i+1}}</strong>
                              </div>
                            </td>
                            <td *ngIf="i==1" class="px-0 silver-color  text-center">
                              <div class="py-1 fs-16 ">
                                <span class="rank-icon rank-silver">
                                  <i class="fa fa-trophy fs-16 list-icon"></i>
                                </span>
                                <strong class="vertical-middle">{{i+1}}</strong>
                              </div>
                            </td>
                            <td *ngIf="i==2" class="px-0 bronze-color  text-center">
                              <div class="py-1 fs-16 ">
                                <span class="rank-icon rank-bronze">
                                  <i class="fa fa-trophy fs-16 list-icon"></i>
                                </span>
                                <strong class="vertical-middle">{{i+1}}</strong>
                              </div>
                            </td>
                            <td *ngIf="i>2" class="px-0  text-center">
                              <div class="py-1 fs-14 ">
                                <strong class="vertical-middle">{{i+1}}</strong>
                              </div>
                            </td>
                            <td class="px-3">
                              <div class="d-flex align-items-center">
                                <div><img src="assets/img/default-photo.png" class="rounded" alt="" height="34"></div>
                                <div class="ml-3 ">
                                  <div class="fw-500 lh-13">{{rank.repName}}</div>
                                  <div class="fs-10 ">
                                    <i class="material-icons vertical-middle fs-12 text-muted mr-1 opacity8">group_work</i>
                                    <span class="vertical-middle opacity6 fw-500"> {{rank.managerName}}</span>
                                  </div>
                                </div>
                              </div>
                            </td>
                            <td class=" px-3 py-2">{{rank.dtvActivated}}</td>
                            <td class=" px-3 py-2">{{rank.lowRisk  | percentage}}</td>
                            <td class=" px-3 py-2">{{rank.autoPay  | percentage}}</td>
                            <td class=" px-3 py-2 text-center"> {{rank.sameDay | percentage}}</td>
                            <td class=" px-3 py-2 text-center"> {{rank.processingFee  | percentage}}</td>
                            <td class=" px-3 py-2 text-center"> {{rank.additionalServices}}</td>
                            <td>
                              <!--<button type="button" class="btn btn-outline-info bw-1 btn-circle btn-sm text-center ripple">
      <i class="material-icons list-icon  fs-20" style="margin-top: 2px;margin-left:1.5px;">account_box</i>
    </button>-->

                            </td>
                          </tr>
                        </ng-container>
                        <!--<tr>
                          <td class="px-0 silver-color text-center">
                            <div class="py-1 fs-16">
                              <span class="rank-icon rank-silver">
                                <i class="fa fa-trophy fs-16 list-icon"></i>
                              </span>
                              <strong class="vertical-middle">2</strong>
                            </div>
                          </td>
                          <td class="px-3">
                            <div class="d-flex align-items-center">
                              <div><img src="assets/img/user-4.jpg" class="rounded" alt="" height="30"></div>
                              <div class="ml-3 pl-1 ">
                                <div class="fw-500 lh-13">Mayan Donadona</div>
                                <div class="fs-10 ">
                                  <i class="material-icons vertical-middle fs-12 text-muted mr-1 opacity8">group_work</i>
                                  <span class="vertical-middle opacity6 fw-500"> Jake Lamboan MGMT</span>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td class="px-3 py-2">100</td>
                          <td class="px-3 py-2">90</td>
                          <td class="px-3 py-2">80</td>
                          <td class="px-3 py-2 text-center"> 58%</td>
                          <td class=" px-3 py-2 text-center"> 82%</td>
                          <td class=" px-3 py-2 text-center"> 82%</td>
                          <td>-->
                            <!--<button type="button" class="btn btn-outline-default bw-1 btn-circle btn-sm text-center ripple">
                <i class="material-icons list-icon text-dark fs-18" style="margin-top: 2px;margin-left:1.5px;">edit</i>
              </button>-->
                          <!--</td>
                        </tr>-->
                        <!--<tr>
                          <td class="px-0 bronze-color  text-center">
                            <div class="py-1 fs-16 ">
                              <span class="rank-icon rank-bronze">
                                <i class="fa fa-trophy fs-16 list-icon"></i>
                              </span>
                              <strong class="vertical-middle">3</strong>
                            </div>
                          </td>
                          <td class="px-3">
                            <div class="d-flex align-items-center">
                              <div><img src="assets/img/user-3.jpg" class="rounded" alt="" height="30"></div>
                              <div class="ml-3 pl-1 ">
                                <div class="fw-500 lh-13">Luke Lucky</div>
                                <div class="fs-10 ">
                                  <i class="material-icons vertical-middle fs-12 text-muted mr-1 opacity8">group_work</i>
                                  <span class="vertical-middle opacity6 fw-500"> Jake Lamboan MGMT</span>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td class="px-3 py-2">80</td>
                          <td class="px-3 py-2">81</td>
                          <td class="px-3 py-2">76</td>
                          <td class="px-3 py-2 text-center"> 58 %</td>
                          <td class=" px-3 py-2 text-center"> 82%</td>
                          <td class=" px-3 py-2 text-center"> 82%</td>
                        </tr>-->
                        <!--<tr>
                          <td class="px-0  text-center">
                            <div class="py-1 fs-14 ">
                              <strong class="vertical-middle">4</strong>
                            </div>
                          </td>
                          <td class="px-3">
                            <div class="d-flex align-items-center">
                              <div><img src="assets/img/user-2.jpg" class="rounded" alt="" height="30"></div>
                              <div class="ml-3 pl-1 ">
                                <div class="fw-500 lh-13">Makabo Kino</div>
                                <div class="fs-10 ">
                                  <i class="material-icons vertical-middle fs-12 text-muted mr-1 opacity8">group_work</i>
                                  <span class="vertical-middle opacity6 fw-500"> Jake Lamboan MGMT</span>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td class="px-3 py-2">62</td>
                          <td class="px-3 py-2">60</td>
                          <td class="px-3 py-2">56</td>
                          <td class="px-3 py-2 text-center"> 55 %</td>
                          <td class=" px-3 py-2 text-center"> 82%</td>
                          <td class=" px-3 py-2 text-center"> 82%</td>
                        </tr>
                        <tr>
                          <td class="px-0  text-center">
                            <div class="py-1 fs-14 ">
                              <strong class="vertical-middle">5</strong>
                            </div>
                          </td>
                          <td class="px-3">
                            <div class="d-flex align-items-center">
                              <div><img src="assets/img/user-6.jpg" class="rounded" alt="" height="30"></div>
                              <div class="ml-3 pl-1 ">
                                <div class="fw-500 lh-13">Geoff Tunn</div>
                                <div class="fs-10 ">
                                  <i class="material-icons vertical-middle fs-12 text-muted mr-1 opacity8">group_work</i>
                                  <span class="vertical-middle opacity6 fw-500"> Source Dell Division 2018</span>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td class="px-3 py-2">62</td>
                          <td class="px-3 py-2">72</td>
                          <td class="px-3 py-2">42</td>
                          <td class="px-3 py-2 text-center"> 55 %</td>
                          <td class=" px-3 py-2 text-center"> 82%</td>
                          <td class=" px-3 py-2 text-center"> 82%</td>
                        </tr>-->
                      </tbody>
                    </table>
                  </div>
                  </ng-template>
              </div>
            </div>
          </div>
        </div>

      </main>
