<!-- SIDEBAR -->
<!-- Sidebar Menu -->
<nav class="sidebar-nav">
  <ul class="nav in side-menu mt-2">
    <li class="current-page" [routerLinkActive]="['active']">
      <a [routerLink]="['/home']">
        <i class="list-icon feather feather-home"></i>
        <span class="hide-menu"> Home</span>
      </a>
    </li>
    <li class="current-page" [routerLinkActive]="['active']">
      <a [routerLink]="['/employee/accounts']">
        <i class="list-icon feather feather-users"></i>
        <span class="hide-menu"> Employee Accounts</span>
      </a>
    </li>
    <li class="current-page" [routerLinkActive]="['active']">
      <a [routerLink]="['/heirarchy/lists']">
        <i class="list-icon feather feather-layers"></i>
        <span class="hide-menu"> Organizational Lists</span>
      </a>
    </li>
    <li class="current-page">
      <!--<a href="javascript:void(0);">-->
      <a href="">
        <i class="list-icon feather feather-clipboard"></i>
        <span class="hide-menu">Pay</span>
      </a>
      <!--<ul class="list-unstyled sub-menu">
    <li class="current-page" [routerLinkActive]="['active']">
      <a href="javascript:void(0);">
        <i class="list-icon material-icons">local_play</i> Mobile Report</a>
    </li>
    <li class="current-page" [routerLinkActive]="['active']">
      <a href="javascript:void(0);">
        <i class="list-icon material-icons">filter_5</i> Pay Report</a>
    </li>
  </ul>-->
    </li>
    <li class="menu-item-has-children">
      <a href="javascript:void(0);">
        <i class="list-icon feather feather-award"></i>
        <span class="hide-menu">Rankings</span>
      </a>
      <ul class="list-unstyled sub-menu">
        <li class="current-page" [routerLinkActive]="['active']">
          <a [routerLink]="['/tsi/scores/regionals']">
            <i class="list-icon feather feather-hash"></i> TSI Scores
          </a>
        </li>
        <li class="current-page" [routerLinkActive]="['active']">
          <a [routerLink]="['/rankings/powerrankings']">
            <i class="list-icon material-icons">local_activity</i> Leaderboards
          </a>
        </li>
        <li class="current-page" [routerLinkActive]="['active']">
          <a href="javascript:void(0);">
            <i class="list-icon material-icons">star_border</i> Pre-Season Rankings
          </a>
        </li>
        <li class="current-page" [routerLinkActive]="['active']">
          <a href="javascript:void(0);">
            <i class="list-icon material-icons">group</i> Rep Rankings
          </a>
        </li>
        <li class="current-page" [routerLinkActive]="['active']">
          <a href="javascript:void(0);">
            <i class="list-icon material-icons">pages</i> Charity Rankings
          </a>
        </li>
      </ul>
    </li>
    <li class="current-page" [routerLinkActive]="['active']">
      <a [routerLink]="['/competitions/lists']">
        <i class="list-icon material-icons">local_library</i>
        <span class="hide-menu">Competitions</span>
      </a>
    </li>
    <li class="menu-item-has-children">
      <a href="javascript:void(0);">
        <i class="list-icon material-icons">account_box</i>
        <span class="hide-menu">Profile Stats</span>
      </a>
      <ul class="list-unstyled sub-menu">
        <li class="current-page" [routerLinkActive]="['active']">
          <a href="javascript:void(0);">
            <i class="list-icon material-icons">group_work</i> Offices</a>
        </li>
        <li class="current-page" [routerLinkActive]="['active']">
          <a href="javascript:void(0);">
            <i class="list-icon material-icons">vpn_key</i> Divisions</a>
        </li>
        <li class="current-page" [routerLinkActive]="['active']">
          <a href="javascript:void(0);">
            <i class="list-icon material-icons">stars</i> Regions</a>
        </li>
        <li class="current-page" [routerLinkActive]="['active']">
          <a href="javascript:void(0);">
            <i class="list-icon material-icons">layers</i> Reps</a>
        </li>
      </ul>
    </li>
  </ul>
  <!-- /.side-menu -->
</nav>
<!-- /.sidebar-nav -->
