<div class="p-ranking-container clearfix ">
  <div class="pt-5">
    <div class="col-10 mx-auto">
      <div class="p-ranking-box box-shadow rounded bg-white">
        <div class="p-3  py-4 px-4 fw-600 ">
          <div>
            <div class="row">
              <div class="col-6">
                <h6 class="m-0 pt-1 text-dark">
                  <i class="material-icons gold-color fs-30 mr-2 ">local_activity</i>
                  <span>TSI Scores</span>
                </h6>
              </div>
              <div class="col-6">
                <div class="form-inline float-right">
                  <!-- <ngb-timepicker [(ngModel)]="timeStart" [meridian]="meridian"></ngb-timepicker> -->
                  <div class="input-daterange input-group datepicker p-0 mx-0">
                    <form class="form-inline d-none">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon">FROM</span>
                          <input (click)="start.toggle()" class="form-control dateinput text-left" placeholder="yyyy-mm-dd"
                                 name="start" [(ngModel)]="dateStart" ngbDatepicker #start="ngbDatepicker">
                          <!--<div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="start.toggle()" type="button">
        <i class="feather feather-calendar list-icon" ng-reflect-klass="list-icon font20 " ng-reflect-ng-class="icon-calendar-full"></i>
      </button>
    </div>-->
                        </div>
                        <span class="input-group-addon">TO</span>
                        <div class="input-group mr-2">
                          <input (click)="end.toggle()" class="form-control dateinput text-left" placeholder="yyyy-mm-dd"
                                 name="end" [(ngModel)]="dateEnd" ngbDatepicker #end="ngbDatepicker">
                        </div>
                        <button (click)="filterdate()" class="btn btn-warning mr-2"  type="button" style="height:40px;color:white;"> Filter by Date </button>
                        <button class="btn btn-danger" type="button" style="height:40px;"> CLEAR </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <i class="bg-icon material-icons">local_activity</i>
            </div>
          </div>
        </div>
        <div class="py-3 px-4 bg-gray-100 d-flex align-items-center p-rank-header2">
          <div class="ch-breadcrumb">
            <ol class=" breadcrumb bg-none py-0 pt-2 ">
              <li class="breadcrumb-item">
                <a href="index.html" class="ff-theme fw-500">TSI SCORES</a>
              </li>
              <li class="breadcrumb-item">
                <a href="index.html" class="ff-theme fw-500">VIVID VENTURES OF COLOMBUS</a>
              </li>
              <li class="breadcrumb-item">
                <a href="index.html" class="ff-theme fw-500">MANAGER RECON</a>
              </li>
              <li class="breadcrumb-item active">
                <span>REP</span>
              </li>
            </ol>
          </div>
          <div class="ml-auto col-5">
            <div class="form-input-icon">
              <i class="material-icons list-icon">search</i>
              <input class="form-control fs-14 bg-transparent text-dark border-gray" placeholder="Search..." type="text">
            </div>
          </div>
        </div>
        <div *ngIf="(loading$ | async); else loaded;" class="loader"></div>
        <ng-template #loaded>
          <div class="table-holder py-3 px-4">
            <table class="table table-striped table-hover">
              <thead>
                <tr class="text-dark text-uppercase fs-12 fw-600">
                  <td class="px-3 py-2 text-center" style="min-width: 200px;">
                    <span *ngIf="type === 'regionals'">Regional Name</span>
                    <span *ngIf="type === 'managers'">Manager Name</span>
                    <span *ngIf="type === 'reps'">Rep Name</span>
                  </td>
                  <td class="px-3 py-2" style="min-width: 120px;"> TSI</td>
                  <td class="px-3 py-2" style="min-width: 120px;"> QSI</td>
                  <td class="px-3 py-2" style="min-width: 120px;"> DTVSold</td>
                  <td class="px-3 py-2" style="min-width: 120px;"> DTVActivated</td>
                  <td class="px-3 py-2" style="min-width: 120px;"> AutoPay %</td>
                  <td class="px-3 py-2" style="min-width: 120px;"> Low Risk %</td>
                  <td class="px-3 py-2" style="min-width: 140px;"> Processing Fee %</td>
                  <td class="px-3 py-2" style="min-width: 120px;"> Same Day %</td>
                  <td class="px-3 py-2" style="min-width: 140px;"> Internet Sold</td>
                  <td class="px-3 py-2" style="min-width: 140px;"> CellPhone Sold</td>
                  <td class="px-3 py-2" style="min-width: 140px;"> Security Sold</td>
                  <td class="px-3 py-2" style="min-width: 120px;"> Total Sold</td>
                </tr>
              </thead>
              <tbody class="text-dark">
                <ng-container *ngIf="(total_filtered$ | async) > 0">
                  <tr *ngFor="let score of tsi_scores$ | async; let i = index">
                    <td class="px-3">
                      <a *ngIf="type === 'regionals'" [routerLink]="['/tsi/scores', 'managers']" [queryParams]="{ 'regional-name': score.name }"
                        class="fw-500 lh-13 color-warning">{{ score.name }}</a>
                      <a *ngIf="type === 'managers'" [routerLink]="['/tsi/scores', 'reps']" [queryParams]="{ 'regional-name': score.regional_name, 'manager-name': score.name }"
                        class="fw-500 lh-13 color-warning">{{ score.name }}</a>
                      <a *ngIf="type === 'reps'" class="fw-500 lh-13 color-warning">{{ score.name }}</a>
                    </td>
                    <td class=" px-3 py-2">{{ score.tsi }}</td>
                    <td class=" px-3 py-2">{{ score.qsi }}</td>
                    <td class=" px-3 py-2">{{ score.dtv_sold }}</td>
                    <td class=" px-3 py-2">{{ score.dtv_activated }}</td>
                    <td class=" px-3 py-2">
                      <strong>{{ score.auto_pay | percentage }}</strong>
                    </td>
                    <td class=" px-3 py-2">
                      <strong>{{ score.low_risk | percentage }}</strong>
                    </td>
                    <td class=" px-3 py-2">
                      <strong>{{ score.processing_fee | percentage }}</strong>
                    </td>
                    <td class=" px-3 py-2">
                      <strong>{{ score.same_day | percentage }}</strong>
                    </td>
                    <td class=" px-3 py-2">{{ score.internet_sold }}</td>
                    <td class=" px-3 py-2">{{ score.cellphone_sold }}</td>
                    <td class=" px-3 py-2">{{ score.security_sold }}</td>
                    <td class=" px-3 py-2">{{ score.total_sold }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
