<div class=" user-container clearfix ">
  <div class="container">
    <div class="row" *ngIf="(currentUser$ | async) as currentUser">
      <div class="user-card-parent pl-5 d-flex">
        <div class=" pt-5 pb-4">
          <div class="user-card-holder">
            <div class="sps sps--abv user-card text-center user-card  bg-white rounded pt-5">
              <div class="user-card-img d-inline-block rounded overflow-hidden">
                <img src="assets/img/default-photo.png">
              </div>
              <div class="user-card-info mb-5">
                <div class=" py-2 w-100 d-none">
                  <span class="bronze">&bull;</span> &nbsp;
                  <span class="d-inline-block vertical-middle fs-11 text-dark"> ROOKIE</span>
                </div>
                <div class="mt-3 d-block vertical-middle fs-18 text-info">
                  <!--<i class="feather vertical-middle feather-arrow-up mb-1 d-inline-block mr-1"></i>
    <span class="">1927</span>-->
                  <span class=""></span>
                </div>
                <!--<span class="d-block fs-10 text-muted"> WKLY TOTAL</span>-->
                <span class="d-block fs-10 text-muted"> </span>

              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-8 col-lg-7 pl-5">
        <div class="mt-5 user-details ml-3  pt-5">
          <div class="fs-24 fw-600 text-dark">
            <span *ngIf="currentUser?.first_name || currentUser?.last_name" class="vertical-middle"> {{ currentUser?.first_name }} {{ currentUser?.last_name }}</span>
          </div>

          <div class="mt-1 d-none" data-toggle="tooltip" data-placement="left" title="Office">
            <i class="  list-icon material-icons vertical-middle">business</i>&emsp;
            <span class="text-dark vertical-middle">COLUMBIA</span>
          </div>
          <div class="mt-1 d-none" data-toggle="tooltip" data-placement="left" title="Group">
            <i class="  list-icon material-icons vertical-middle">group_work</i>&emsp;
            <span class=" vertical-middle">
              <a href="javascript:void(0);" class="a-dark">Jake Lamboan MGMT</a>
            </span>
          </div>
          <div class="mt-4 ">
            <button class="btn btn-default  btn-sm btn-rounded mr-3 my-2">
              <i class="material-icons list-icon fw-300 mr-2">phone</i>
              <span *ngIf="currentUser?.phone_number" class="fw-500"> {{ currentUser?.phone_number }}</span>
              <span *ngIf="!currentUser?.phone_number" class="fw-500">none</span>

            </button>
            <button class="btn btn-default  btn-sm btn-rounded mr-3 my-2">
              <i class="material-icons list-icon fw-300 mr-2">mail_outline</i>
              <span *ngIf="currentUser?.email" class="fw-500">{{ currentUser?.email }}</span>
              <span *ngIf="!currentUser?.email" class="fw-500">none</span>

            </button>
          </div>
        </div>
        <div *ngIf="(employee$ | async) as employeestat" class="stat-box-holder mt-5">
          <div class="d-flex  ">
            <div class="col-4 ">
              <div class=" stats-box bg-white rounded px-4 py-3 m-2">
                <div class="text-dark fs-20">
                  <span class="vertical-middle d-inline-block"> {{employeestat.employeestat?.tsi}}</span>
                </div>
                <div class="fs-12">TSI</div>
              </div>
            </div>
            <div class="col-4 ">
              <div class="stats-box bg-white rounded px-4 py-3 m-2">
                <div class="text-dark fs-20"> {{employeestat.employeestat?.qsi}}</div>
                <div class="fs-12">QSI </div>
              </div>
            </div>
            <div class="col-4 ">
              <div class="stats-box bg-white rounded px-4 py-3 m-2">
                <div class="text-dark fs-20"> {{employeestat.employeestat?.auto_pay | percentage}} </div>
                <div class="fs-12">AUTO PAY</div>
              </div>
            </div>
          </div>
          <div class="d-flex ">
            <div class="col-4 ">
              <div class="stats-box bg-white rounded px-4 py-3 m-2">
                <div class="text-dark fs-20">{{employeestat.employeestat?.low_risk | percentage}} </div>
                <div class="fs-12">LOW RISK </div>
              </div>
            </div>
            <div class="col-4 ">
              <div class="stats-box bg-white rounded px-4 py-3 m-2">
                <div class="text-dark fs-20">{{employeestat.employeestat?.processing_fee | percentage}}</div>
                <div class="fs-12">PROCESSING FEE</div>
              </div>
            </div>
            <div class="col-4 ">
              <div class="stats-box bg-white rounded px-4 py-3 m-2">
                <div class="text-dark fs-20">{{employeestat.employeestat?.same_day | percentage}}</div>
                <div class="fs-12">SAME DAY </div>
              </div>
            </div>
          </div>
          <div class="mt-5">
            <div class="px-3">
              <div class="">
                <div class="mb-4">
                  <h6>
                    <i class="material-icons text-muted mr-2 opacity8">stars</i>
                    <span>Your Stats</span>
                  </h6>
                </div>
                <div class="bg-white box-shadow  mb-4">
                  <div class="py-3 fs-12 mb-2 text-dark border-bottom px-4">
                    <div class="row">
                      <div class="col-6">
                        PROCESSING FEE: <strong class="ml-2">{{employeestat.employeestat?.processing_fee | percentage}}</strong>
                      </div>
                      <div class="col-6">
                        LOW RISK <strong class="ml-2">{{employeestat.employeestat?.low_risk | percentage}}</strong>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        AUTO PAY: <strong class="ml-2">{{employeestat.employeestat?.auto_pay | percentage}}</strong>
                      </div>
                      <div class="col-6">
                        SAME DAY: <strong class="ml-2">{{employeestat.employeestat?.same_day | percentage}}</strong>
                      </div>
                    </div>
                  </div>
                  <div class="table-holder">
                    <table class="table table-striped">
                      <thead>
                        <tr class="text-dark text-uppercase fs-12 fw-600">
                          <td class="px-4 py-2">Stat Name</td>
                          <td class="px-4 py-2"></td>
                          <td class="px-4 py-2">Total</td>
                          <!-- <td class="px-4 py-2">Rank</td>-->
                        </tr>
                      </thead>
                      <tbody class="text-dark">
                        <tr>
                          <td class="px-4">DTV Sold</td>
                          <!--<td class="px-4">ARMR</td>-->
                          <td class="px-4"></td>
                          <td class="px-4">{{employeestat.employeestat?.dtv_sold}}</td>
                          <!-- <td class="px-4">-</td>-->
                        </tr>
                        <tr>
                          <td class="px-4">Internet Sold</td>
                          <!--<td class="px-4">CF%</td>-->
                          <td class="px-4"></td>
                          <td class="px-4">{{employeestat.employeestat?.internet_sold}}</td>
                          <!--<td class="px-4">-</td>-->
                        </tr>
                        <tr>
                          <td class="px-4">Security Sold</td>
                          <!--<td class="px-4">TES</td>-->
                          <td class="px-4"></td>
                          <td class="px-4">{{employeestat.employeestat?.security_sold}}</td>
                          <!-- <td class="px-4">-</td>-->
                        </tr>
                        <tr>
                          <td class="px-4">Total Sold</td>
                          <!--<td class="px-4">NOC%</td>-->
                          <td class="px-4"></td>
                          <td class="px-4">{{employeestat.employeestat?.total_sold}}</td>
                          <!--<td class="px-4">-</td>-->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <a href="javascript:void(0);" class="a-w-icon py-3 px-3 d-block box-shadow rounded fw-600 a-dark fs-12 text-center bg-white">
                  <i class="material-icons">local_activity</i>
                  <span class="vertical-middle ml-2"> VIEW POWER RANKINGS</span>
                  <i class="bg-icon material-icons">local_activity</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
