
<div class="mb-4">
  <!--<label class="pb-2 a-dark mb-0 d-block text-dark" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
  <label class="pb-2 a-dark mb-0 d-block text-dark" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="material-icons fs-18">date_range</i>
    <span class="ml-3 vertical-middle">FROM</span>
    <!--<span class="float-right"><i class="material-icons list-icon">arrow_drop_down</i></span>-->
  </label>
  <!--<div class="collapse" id="collapseExample">-->
  <!--<div id="collapseExample">-->
  <!--<div>
    <input [ngModel]="selectedDate" onchange="dateChange()" class="form-control py-1" value="2018-08-24" type="date">
  </div>-->
  <div class="input-group">
    <input class="form-control"
            [(ngModel)]="fromDate" (ngModelChange)="dateChange()" ngbDatepicker #dfrom="ngbDatepicker">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="dfrom.toggle()" style="padding:10px 17px" type="button"><i class="feather feather-calendar list-icon"></i></button>
    </div>
  </div>
  <label class="pb-2 a-dark mb-0 d-block text-dark mt-2" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="material-icons fs-18">date_range</i>
    <span class="ml-3 vertical-middle">TO</span>
    <!--<span class="float-right"><i class="material-icons list-icon">arrow_drop_down</i></span>-->
  </label>
  <div class="input-group">
    <input class="form-control" [(ngModel)]="toDate" (ngModelChange)="dateChange()"
            ngbDatepicker #dto="ngbDatepicker">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="dto.toggle()" style="padding:10px 17px" type="button"><i class="feather feather-calendar list-icon"></i></button>
    </div>
  </div>
  <div class="pt-2 mb-3 border-top">
    <span class="fw-600 fs-18 mr-3 align-middle text-dark">Season</span>
    <br>
    <button class="btn btn-sm btn-outline-dark btn-rounded bw-1">Year to Date</button>
  </div>
  <div class="recent-group mb-3">
    <span class="fw-600 fs-18 mr-3 align-middle text-dark">Recent</span>
    <br>
    <div class="d-flex mb-2">
      <div class="mr-2 w-50"><button name="myDiv" (click)="selectToday($event)" class="btn btn-sm btn-outline-dark btn-rounded bw-1 btn-block">Today</button></div>
      <div class="w-50"><button name="myDiv" (click)="selectYesterday($event)" class="btn btn-sm btn-outline-dark btn-rounded bw-1 btn-block">Yesterday</button></div>
    </div>
    <div class="d-flex mb-2">
      <div class="mr-2 w-50"><button name="myDiv" (click)="selectTwoDays($event)" class="btn btn-sm btn-outline-dark btn-rounded bw-1 btn-block">Two Days Ago</button></div>
      <div class="w-50"><button name="myDiv" (click)="selectTodayLastWeek($event)" class="btn btn-sm btn-outline-dark btn-rounded overflow-hidden bw-1 btn-block">Today Last Week</button></div>
    </div>
    <div class="d-flex mb-2">
      <div class="mr-2 w-50"><button name="myDiv" (click)="selectLastWeek($event)" class="btn btn-sm btn-outline-dark btn-rounded bw-1 btn-block">Last Week</button></div>
      <div class="w-50"><button name="myDiv" (click)="selectWeekToDate($event)" class="btn btn-sm btn-outline-dark btn-rounded bw-1 btn-block">Week To Date</button></div>
    </div>
    <div class="d-flex mb-2">
      <div class="mr-2 w-50"><button name="myDiv" class="btn btn-sm btn-outline-dark btn-rounded bw-1 btn-block">Last Month</button></div>
      <div class="w-50"><button name="myDiv" class="btn btn-sm btn-outline-dark btn-rounded bw-1 btn-block">Month To Date</button></div>
    </div>
  </div>
  <!--</div>-->
  <!--<hr class="mt-0">
  <div class=" fs-12">
    <i class="material-icons vertical-middle fs-16 text-muted mr-2 opacity8">group_work</i>
    <span class="vertical-middle text-muted">YOUR OFFICE QUICKSTATS </span>
  </div>
  <h5 class="mt-1 ff-theme"><a href="office.html" class="a-dark">Jake Lamboan MGMT</a></h5>

  <div class="mt-4 tabs tabs-bordered">
    <ul class="nav nav-tabs">
      <li class="nav-item" aria-expanded="false">
        <a class="nav-link active fs-12" href="#home-tab-bordered-1" data-toggle="tab" aria-expanded="true">
          <i class="feather feather-bar-chart"></i>&nbsp; STATS
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-12" href="#profile-tab-bordered-1" data-toggle="tab" aria-expanded="false">
          <i class="feather feather-user"></i>&nbsp; REPS
        </a>
      </li>
    </ul>
     /.nav-tabs
    <div class="tab-content px-0">
      <div class="tab-pane active " id="home-tab-bordered-1" aria-expanded="true">
        <table class="table table-striped ">
          <thead>
            <tr class="text-dark text-uppercase fs-12 fw-600">
              <td class="px-0 py-2">Stat Name</td>
              <td class="px-0 py-2">Total</td>
              <td class="px-0 py-2">Rank</td>
            </tr>
          </thead>
          <tbody class="text-dark">
            <tr>
              <td class="px-0">ARMR</td>
              <td class="px-0">-</td>
              <td class="px-0">-</td>
            </tr>
            <tr>
              <td class="px-0">CF%</td>
              <td class="px-0">-</td>
              <td class="px-0">-</td>
            </tr>
            <tr>
              <td class="px-0">TES</td>
              <td class="px-0">-</td>
              <td class="px-0">-</td>
            </tr>
            <tr>
              <td class="px-0">NOC%</td>
              <td class="px-0">-</td>
              <td class="px-0">-</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="profile-tab-bordered-1" aria-expanded="false">
        <table class="table table-striped ">
          <thead>
            <tr class="text-dark text-uppercase fs-12 fw-600">
              <td class="px-0 py-2"> RK</td>
              <td class="px-3 py-2"> REP</td>
            </tr>
          </thead>
          <tbody class="text-dark">
            <tr>
              <td class="px-0"> 1</td>
              <td class="px-3">
                <img src="assets/img/user-5.jpg" class="rounded" alt="" height="20">
                <span class="rank-icon rank-gold ml-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Power Ranking #1">
                  <i class="fa fa-trophy fs-14 list-icon"></i>
                </span>
                <span class="ml-1 fw-500">
                  Hilda Moorne
                </span>
              </td>
            </tr>
            <tr>
              <td class="px-0">2</td>
              <td class="px-3">
                <img src="assets/img/user-1.jpg" class="rounded" alt="" height="20">
                <span class="ml-2 fw-500">Johnny Legendary</span>
              </td>
            </tr>
            <tr>
              <td class="px-0">13</td>
              <td class="px-3">
                <img src="assets/img/user-4.jpg" class="rounded" alt="" height="20">
                <span class="ml-2 fw-500">Mayan Donadona</span>
              </td>
            </tr>
            <tr>
              <td class="px-0">16</td>
              <td class="px-3">
                <img src="assets/img/user-3.jpg" class="rounded" alt="" height="20">
                <span class="ml-2 fw-500">Luke Lucky</span>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>-->
</div>
