<!--<div class="modal fade" tabindex="-1" role="dialog">-->
    <!--<div class="modal-dialog" role="document">
      <div class="modal-content">-->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title fs-18 fw-600">Competition Dates</h4>
        </div>
        <div class="modal-body">

          <div class="mb-3 fs-24 text-dark lh-10 align-items-center fw-700">
            <select class="form-control px-3 py-2 fs-24 text-dark fw-700 ff-theme">
              <option>1990</option>
              <option>1991</option>
              <option>1992</option>
              <option>1993</option>
              <option>1994</option>
              <option>1995</option>
              <option>1996</option>
              <option>1997</option>
              <option>1998</option>
              <option>1999</option>
              <option>2000</option>
              <option>2001</option>
              <option>2002</option>
              <option>2003</option>
              <option>2004</option>
              <option>2005</option>
              <option>2006</option>
              <option>2007</option>
              <option>2008</option>
              <option>2009</option>
              <option>2010</option>
              <option>2011</option>
              <option>2012</option>
              <option>2013</option>
              <option>2014</option>
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
            </select>
          </div>
        </div>
        <div class="text-center border-top py-4">
          <button type="button" class="mx-2 btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="mx-2 btn btn-primary">Save changes</button>
        </div>
      <!--</div>
    </div>-->
  <!--</div>-->
