<div class="login-page-bg"></div>
<div id="wrapper" class="row wrapper">
  <div class="container-min-full-height d-flex justify-content-center align-items-center">
    <div class="login-center ">
      <div class="navbar-header text-center mb-5 mt-4">
        <a href="javascript:void(0);">
          <img alt="ClearHome" src="assets/img/clearhome.png" width="180">
        </a>
      </div>
      <!-- /.navbar-header -->
      <form (ngSubmit)="authenticate(loginForm)" #loginForm="ngForm" novalidate>
        <div class="form-group">
          <input type="text" required placeholder="Email" class="form-control form-control-line" name="username" [(ngModel)]="auth.username">
        </div>
        <div class="form-group">
          <input type="password" required placeholder="Password" class="form-control form-control-line" name="password" [(ngModel)]="auth.password">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block bw-1 btn-lg ff-theme text-uppercase fs-16 py-0 fw-600" [disabled]="!loginForm.form.valid">
              <span *ngIf="loading; else notLoading;">Logging In
                  <i class="fa fa-spinner fa-spin"></i>
                </span>
                <ng-template #notLoading>Log In</ng-template>
          </button>
        </div>
        <div class="form-group no-gutters mb-0">
          <div class="col-md-12 text-center">
            <a href="javascript:void(0)" id="to-recover" class="my-auto fs-12 text-uppercase pb-2 text-right">
              <span class="d-inline-block ">Forgot Password?</span>
            </a>
          </div>
          <!-- /.col-md-12 -->
        </div>
        <!-- /.form-group -->
      </form>
      <!-- /.form-material -->
    </div>
    <!-- /.login-center -->
  </div>
  <!-- /.d-flex -->
</div>
