     <div class="cp-hero cp-hero-2">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="ff-theme">
                    <h2>
                      Competitions
                    <!--  <a (click)="changeYear()" class="ml-3 d-inline-block border-bottom border-dark bw-2">{{selectedYear}} <i class="material-icons">expand_more</i></a>-->
                    </h2>
                  </div>
                </div>
                <div class="col-md-6 text-right align-self-center">
                  <button (click)="addCompetitions()" data-toggle="modal" class="btn btn-outline-dark mt-4 bw-1">
                    <i class="fa fa-trophy "></i>&emsp;ADD NEW COMPETITION
                  </button>
                </div>
              </div>
            </div>
            <div>
              <div class="container ">
              <!--  <div class="mb-4 mt-5 fs-16 text-dark">UPCOMING</div>-->
                <div *ngIf="(loading$ | async); else loaded;" class="loader"></div>
                <ng-template #loaded>
                  <div class="row text-left">
                    <div class="col-md-6" *ngFor="let tournament of tournaments$ | async; let i = index">
                      <div class="competition-item mx-2 border-dark bw-3 px-4 mb-3 py-4 ff-theme d-flex align-items-center">
                        <img class="competition-item-bg" src="data:image/{{tournament.bgImageType}},{{tournament.bgImage}}">
                        <div class="pos-relative mr-4">
                          <img src="data:image/{{tournament.iconType}},{{tournament.icon}}" height="50">
                        </div>
                        <div class="pos-relative ">
                          <div class="ci-name fw-600 fs-20 text-dark">{{tournament.name}}</div>
                          <div class="text-dark fs-16 fw-500"> {{tournament.startDate | date}} - {{tournament.endDate | date}}</div>
                        </div>
                        <div class="pos-relative ml-auto">
                          <a href="" class="mx-2"><i class="material-icons fs-40">play_circle_outline</i></a>
                          <a [routerLink]="['/competitions/competition_details', tournament.id]" class="mx-2"><i class="material-icons fs-40">arrow_forward</i></a>
                        </div>
                      </div>
                    </div>
                    <!--<div class="col-md-6" *ngFor="let tournament of tournaments$ | async; let i = index">
                        <div class="competition-item mx-2 border-dark bw-3 px-4 mb-3 py-4 ff-theme d-flex align-items-center">
                          <img class="competition-item-bg" src="../../../../../../assets/img/cp-bg.jpeg">
                          <div class="pos-relative mr-4">
                            <img src="assets/img/black-league2.png" height="50">
                          </div>
                          <div class="pos-relative ">
                            <div class="ci-name fw-600 fs-20 text-dark">Mandating Lightning 2018</div>
                            <div class="text-dark fs-16 fw-500">DECEMBER 10-17, 2018</div>
                          </div>
                          <div class="pos-relative ml-auto">
                            <a href="" class="mx-2"><i class="material-icons fs-40">play_circle_outline</i></a>
                            <a href="view-competition.html" class="mx-2"><i class="material-icons fs-40">arrow_forward</i></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
        <div class="competition-item mx-2 border-dark bw-3 px-4 mb-3 py-4 ff-theme d-flex align-items-center">
          <img class="competition-item-bg" src="assets/img/login-bg2.jpg">
          <div class="pos-relative mr-4">
            <img src="assets/img/black-league.png" height="50">
          </div>
          <div class="pos-relative ">
            <div class="ci-name fw-600 fs-20 text-dark">Soaring Wings Season 3 </div>
            <div class="text-dark fs-16 fw-500">DECEMBER 10-17, 2018</div>
          </div>
          <div class="pos-relative ml-auto">
            <a href="" class="mx-2"><i class="material-icons fs-40">play_circle_outline</i></a>
            <a href="view-competition.html" class="mx-2"><i class="material-icons fs-40">arrow_forward</i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6" >
        <div class="competition-item mx-2 border-dark bw-3 px-4 mb-3 py-4 ff-theme d-flex align-items-center">
          <img class="competition-item-bg" src="assets/img/login-bg2.jpg">
          <div class="pos-relative mr-4">
            <img src="{{Image}}" height="50">
          </div>
          <div class="pos-relative ">
            <div class="ci-name fw-600 fs-20 text-dark">asd</div>
            <div class="text-dark fs-16 fw-500"> </div>
          </div>
          <div class="pos-relative ml-auto">
            <a href="" class="mx-2"><i class="material-icons fs-40">play_circle_outline</i></a>
            <a href="view-competition.html" class="mx-2"><i class="material-icons fs-40">arrow_forward</i></a>
          </div>
        </div>
      </div>-->

                  </div>
                  </ng-template>
                  <div class="col-md-6 d-none">

                    <div class="mb-4 mt-5 fs-16 text-dark">COMING SOON</div>
                    <div class="text-left">
                      <div class="competition-item  border-dark bw-3 px-4 mb-3 py-4 ff-theme d-flex align-items-center">
                        <img class="competition-item-bg" src="assets/img/login-bg.jpg">
                        <div class="pos-relative mr-4">
                          <img src="assets/img/power-league.png" height="50">
                        </div>
                        <div class="pos-relative ">
                          <div class="ci-name fw-600 fs-20 text-dark">Power League Drafts  </div>
                          <div class="text-dark fs-16 fw-500">Lookout for this...</div>
                        </div>
                        <div class="pos-relative ml-auto">
                          <a href="" class="mx-2"><i class="material-icons fs-40">play_circle_outline</i></a>
                          <a href="view-competition.html" class="mx-2"><i class="material-icons fs-40">arrow_forward</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>



  <!-- Start: MODAL -->
  <!--<div id="competition-dates" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title fs-18 fw-600">Competition Dates</h4>
        </div>
        <div class="modal-body">

          <div class="mb-3 fs-24 text-dark lh-10 align-items-center fw-700">
            <select class="form-control px-3 py-2 fs-24 text-dark fw-700 ff-theme">
              <option>1990</option>
              <option>1991</option>
              <option>1992</option>
              <option>1993</option>
              <option>1994</option>
              <option>1995</option>
              <option>1996</option>
              <option>1997</option>
              <option>1998</option>
              <option>1999</option>
              <option>2000</option>
              <option>2001</option>
              <option>2002</option>
              <option>2003</option>
              <option>2004</option>
              <option>2005</option>
              <option>2006</option>
              <option>2007</option>
              <option>2008</option>
              <option>2009</option>
              <option>2010</option>
              <option>2011</option>
              <option>2012</option>
              <option>2013</option>
              <option>2014</option>
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
            </select>
          </div>
        </div>
        <div class="text-center border-top py-4">
          <button type="button" class="mx-2 btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="mx-2 btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div id="add-competition" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content border-0">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <label for="ac-img-input" class="ac-image-holder"><i class=" list-icon material-icons opacity5">photo</i></label>
              <input id="ac-img-input" type="file" class="d-none" name="">
            </div>
            <div class="col">
              <input placeholder="Competition Name" class="text-dark fw-700 ff-theme ac-input-title fs-28 form-control" name="" type="text">
              <div class="mt-4 mb-2 text-dark fw-600 ff-theme">
                BACKGROUND IMAGE
              </div>
              <div class="form-input-icon">
                <i class="material-icons list-icon text-dark fs-30 ">photo_size_select_actual</i>
                <input class="form-control pl-5" id="l6" placeholder="Left icon" type="file">
              </div>
              <div class="mt-4 mb-2 text-dark fw-600 ff-theme">
                PROMOTIONAL VIDEO
              </div>
              <div class="form-input-icon">
                <i class="material-icons list-icon text-dark fs-30 ">play_circle_outline</i>
                <input class="form-control pl-5" id="l6" placeholder="Left icon" type="file">
              </div>
            </div>
          </div>
        </div>
        <div class="menu-division border rounded mt-4" style="box-shadow:none;">
          <ul class="nav nav-tabs mx-auto" role="tablist">
            <li role="presentation"><a href="#tab-1" class="active" aria-controls="tab-1" role="tab" data-toggle="tab" aria-expanded="true"><i class="material-icons">flag</i> DETAILS</a></li>
            <li role="presentation"><a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab" class="" aria-expanded="false"><i class="material-icons">pages</i> PRIZES</a></li>
            <li role="presentation"><a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab" class="" aria-expanded="false"><i class="material-icons">assistant</i> SEEDING</a></li>
            <li role="presentation"><a href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab"><i class="material-icons">dns</i> BRACKET</a></li>
          </ul>
        </div>
        <div class="tab-content p-0 bg-transparent">
          <div role="tabpanel" class="tab-pane active" id="tab-1">
            <div class="pt-5">
              <div class="cp-details-head "><i class="material-icons">flag</i>  <small>RULES</small></div>
              <div>
                <textarea rows="6" class="form-control text-left ff-theme fs-18 text-dark">Keep track of all of the action during the Group Stage by tuning into the Multicast stream. This stream will highlight the best parts of matches being played simultaneously. Watch Multicast via Steam Broadcasting or Twitch. Available in English, Chinese, and Russian.
                <blockquote>
                                    To Quality:
                                    Rookies must have at least 2 installs   
                                    Veterans must have at least 4 installs
                                </blockquote>
                            </textarea>
              </div>
              <hr>
              <div class="cp-details-head "><i class="material-icons">date_range</i>  <small>TIMELINE</small></div>
              <div class="d-flex rounded border mb-3 ff-theme text-dark fs-18">
                <div class="px-4 py-4 align-self-center">
                  <i class="material-icons opacity5">date_range</i>
                </div>
                <div class="col border-left px-4 py-4">
                  <div class="row">
                    <div class="col-md-8"> <input class="form-control ff-theme fw-600 fs-18 text-dark" placeholder="Timeline Title" type="text" name=""></div>
                    <div class="col-md-4"> <input class="form-control ff-theme fw-600 fs-16 text-dark" placeholder="Timeline Date" type="date" name=""></div>
                  </div>
                  <div class="mt-2">
                    <textarea class="form-control ff-theme text-dark fs-18" placeholder="Timeline Description"></textarea>
                  </div>
                </div>
              </div>
              <button class="btn btn-outline-dark bw-1 btn-block">
                <span class="mr-3 align-middle">
                  <i class="material-icons ">date_range</i>
                </span>
                <span class="align-middle fs-16 fw-600 ">ADD ANOTHER DATE</span>
              </button>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane " id="tab-2">
            <div class="pt-5">
              <div class="d-flex rounded border mb-3 ff-theme text-dark fs-18">
                <div class="px-4 py-4 align-self-center">
                  <i class="material-icons opacity5">pages</i>
                </div>
                <div class="col border-left px-4 py-4">
                  <div class="d-flex">
                    <div class="col">
                      <input value="1st Placer" class="form-control ff-theme fw-600 fs-18 text-dark" placeholder="Timeline Title" type="text" name="">
                    </div>
                  </div>
                  <div class="mt-2">
                    <textarea class="form-control ff-theme text-dark fs-18" placeholder="Prize Description"></textarea>
                  </div>
                </div>
              </div>
              <div class="d-flex rounded border mb-3 ff-theme text-dark fs-18">
                <div class="px-4 py-4 align-self-center">
                  <i class="material-icons opacity5">pages</i>
                </div>
                <div class="col border-left px-4 py-4">
                  <div class="d-flex">
                    <div class="col">
                      <input value="2nd Placer" class="form-control ff-theme fw-600 fs-18 text-dark" placeholder="Timeline Title" type="text" name="">
                    </div>
                    <div>
                      <button class="btn btn-outline-dark bw-1"><i class="material-icons">remove</i></button>
                    </div>
                  </div>
                  <div class="mt-2">
                    <textarea class="form-control ff-theme text-dark fs-18" placeholder="Prize Description"></textarea>
                  </div>
                </div>
              </div>
              <button class="btn btn-outline-dark bw-1 btn-block">
                <span class="mr-3 align-middle">
                  <i class="material-icons ">pages</i>
                </span>
                <span class="align-middle fs-16 fw-600 ">ADD ANOTHER PRIZE</span>
              </button>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab-3">
            <div class="pt-5">
              <div class="mb-4">
                <div class="form-input-icon">
                  <i class="fs-26 material-icons list-icon">search</i>
                  <input class="form-control bw-2 ff-theme fs-18" id="l6" placeholder="Search" type="text">
                </div>
              </div>
              <div class="px-3 py-3  mb-1 text-left d-flex align-items-center text-dark fs-12 fw-600 opacity3 ff-theme">
                <div class="col-3">SEED NUMBER</div>
                <div class="">PARTICIPANT</div>
                <div class="ml-auto">TSI</div>
              </div>
              <div class="seed-item border-left border-gray bw-5 bg-white px-3 py-3 rounded mb-3 text-left d-flex align-items-center text-dark fs-18">
                <div class="col-3 seed-item-name fw-600 text-uppercase">
                  Seed 1
                </div>
                <div>
                  <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
                  <span class="ml-2 ff-theme align-middle  fw-500">Johnny Legendary</span>
                </div>
                <div class="ml-auto">
                  129,090
                </div>
                <div class="ml-4"><button class="btn btn-white text-muted btn-sm btn-circle"><i class="material-icons">close</i></button></div>
              </div>
              <div class="seed-item border-left border-warning bw-5 bg-white px-3 py-3 rounded mb-3 text-left d-flex align-items-center text-dark fs-18">
                <div class="col-3 seed-item-name fw-600 text-uppercase">
                  Seed 2
                </div>
                <div>
                  <img src="assets/img/user-5.jpg" class="rounded" alt="" height="30">
                  <span class="ml-2 ff-theme align-middle  fw-500">Johnny Legendary </span>
                </div>
                <div class="ml-auto">
                  128,120
                </div>
                <div class="ml-4"><button class="btn btn-white text-muted btn-sm btn-circle"><i class="material-icons">close</i></button></div>
              </div>
              <div class="seed-item border-left border-danger bw-5 bg-white px-3 py-3 rounded mb-3 text-left d-flex align-items-center text-dark fs-18">
                <div class="col-3 seed-item-name fw-600 text-uppercase">
                  Seed 3
                </div>
                <div>
                  <img src="assets/img/user-3.jpg" class="rounded" alt="" height="30">
                  <span class="ml-2 ff-theme align-middle  fw-500">Luke Lucky </span>
                </div>
                <div class="ml-auto">
                  92,229
                </div>
                <div class="ml-4"><button class="btn btn-white text-muted btn-sm btn-circle"><i class="material-icons">close</i></button></div>
              </div>
              <div class="seed-item border-left border-info bw-5 bg-white px-3 py-3 rounded mb-3 text-left d-flex align-items-center text-dark fs-18">
                <div class="col-3 seed-item-name fw-600 text-uppercase">
                  Seed 4
                </div>
                <div>
                  <img src="assets/img/user-4.jpg" class="rounded" alt="" height="30">
                  <span class="ml-2 ff-theme align-middle  fw-500">Mayan Donadona</span>
                </div>
                <div class="ml-auto">
                  92,200
                </div>
                <div class="ml-4"><button class="btn btn-white text-muted btn-sm btn-circle"><i class="material-icons">close</i></button></div>
              </div>
            </div>

          </div>
        </div>

        <div class="text-center py-4">
          <button type="button" class="mx-2 btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="mx-2 btn btn-primary">ADD NEW ENTRY</button>
        </div>
      </div>
    </div>
  </div>-->
  <!-- End  : MODAL -->
  <!--/ #wrapper -->
  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.2/umd/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.77/jquery.form-validator.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.0/metisMenu.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.7.0/js/perfect-scrollbar.jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.9.2/countUp.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mithril/1.1.1/mithril.js"></script>
  <script src="assets/vendors/theme-widgets/widgets.js"></script>
  <script src="assets/js/fixedSticky/fixedsticky.js"></script>
  <script src="assets/js/theme.js"></script>
  <script src="assets/js/custom.js"></script>

  <script>$(".office-qs-btn").click(function(){
            $(this).toggleClass("active");
            $(".side-panel").toggleClass("active");
        })
        $(function() {
          $("[data-toggle=popover]").popover({
            html: true,
            content: function() {
              var content = $(this).attr("data-popover-content");
              return $(content).children(".popover-body").html();
            },
            title: function() {
              var title = $(this).attr("data-popover-content");
              return $(title).children(".popover-heading").html();
            }
          });
        });
        var chBreadcrumb = $(".ch-breadcrumb .breadcrumb").width();
        $(".ch-breadcrumb .breadcrumb").scrollLeft(chBreadcrumb);</script>
