body {
  padding: 40px;
}

.dots {
  margin: 40px auto;
}

.dot {
  display: inline-block;
  border-radius: 50%;
  width: 50%;
  background-color: #EEE;
  height: 15px;
  width: 15px;
  margin: 0 2px;
}

  .dot.dot-online {
    background-color: #38d57a;
  }

  .dot.dot-offline {
    background-color: #e7e7e7;
  }

  .dot.dot-danger {
    background-color: #D9534F;
  }

  .dot.dot-sm {
    height: 10px;
    width: 10px;
  }

  .dot.dot-lg {
    margin: 0 4px;
    height: 20px;
    width: 20px;
  }
