
<button type="button" class="close" aria-hidden="true" (click)="activeModal.close()">
  <span aria-hidden="true">&times;</span>
</button>
<!--<div id="add-competition" class="modal fade" tabindex="-1" role="dialog">-->
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content border-0">
        <form [formGroup]="addTournamentForm" (ngSubmit)="addTournament()">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                <label for="ac-img-input" class="ac-image-holder">
                  <img src="{{addTournamentForm.get('icon').value}}" />
                  <textarea formControlName="icon" class="form-control text-left ff-theme fs-18 text-dark d-none"></textarea>
                  <i *ngIf="!tournament_photo" class=" list-icon material-icons opacity5">photo</i>
                </label>
                <input id="ac-img-input" (change)="changeListener($event)" type="file" class="d-none" name="">
              </div>
              <div class="col">
                <input placeholder="Competition Name" class="text-dark fw-700 ff-theme ac-input-title fs-28 form-control" type="text" formControlName="name">
                <div class="mt-4 mb-2 text-dark fw-600 ff-theme">
                  BACKGROUND IMAGE
                </div>
                <div class="form-input-icon">
                  <i class="material-icons list-icon text-dark fs-30 ">photo_size_select_actual</i>
                  <textarea formControlName="bg_image" class="form-control text-left ff-theme fs-18 text-dark d-none"></textarea>
                  <input class="form-control pl-5" (change)="changeListenerBgImage($event)" id="l6" placeholder="Left icon" type="file" >
                </div>
                <div class="mt-4 mb-2 text-dark fw-600 ff-theme">
                  PROMOTIONAL VIDEO
                </div>
                <div class="form-input-icon">
                  <i class="material-icons list-icon text-dark fs-30 ">play_circle_outline</i>
                  <input formControlName="promotional_video_link" class="form-control pl-5" id="l6" placeholder="vimeo url" type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="menu-division border rounded mt-4" style="box-shadow:none;">
            <ul class="nav nav-tabs mx-auto" role="tablist">
              <li role="presentation"><a href="#tab-1" class="active" aria-controls="tab-1" role="tab" data-toggle="tab" aria-expanded="true"><i class="material-icons">flag</i> DETAILS</a></li>
              <li role="presentation"><a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab" class="" aria-expanded="false"><i class="material-icons">pages</i> PRIZES</a></li>
              <li role="presentation"><a href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab"><i class="material-icons">dns</i>  TYPE</a></li>
              <li role="presentation"><a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab" class="" aria-expanded="false"><i class="material-icons">assistant</i> SEEDING</a></li>
            </ul>
          </div>
          <div class="tab-content p-0 bg-transparent">
            <div role="tabpanel" class="tab-pane active" id="tab-1">
              <div class="pt-5">
                <div class="cp-details-head "><i class="material-icons">flag</i>  <small>RULES</small></div>
                <div>
                  <!--<textarea formControlName="details" rows="6" placeholder="" class="form-control text-left ff-theme fs-18 text-dark" formControlName="details">
        </textarea>-->
                  <textarea [froalaEditor]="options" formControlName="details"></textarea>
                </div>

                <hr>
                <div class="cp-details-head "><i class="material-icons">date_range</i>  <small>TIMELINE</small></div>
                <div class="d-flex rounded border mb-3 ff-theme text-dark fs-18">
                  <div class="px-4 py-4 align-self-center">
                    <i class="material-icons opacity5">date_range</i>
                  </div>
                  <div class="col border-left px-4 py-4">
                    <div class="row">
                      <div class="col-md-8"> <input class="form-control ff-theme fw-600 fs-18 text-dark" disabled value="Start Date" type="text"></div>
                      <div class="col-md-4"> <input class="form-control ff-theme fw-600 fs-16 text-dark" placeholder="Timeline Date" (change)="validateStartDate()" type="date" formControlName="start_date"></div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-8"> <input class="form-control ff-theme fw-600 fs-18 text-dark" disabled value="End Date" type="text"></div>
                      <div class="col-md-4"> <input class="form-control ff-theme fw-600 fs-16 text-dark" placeholder="Timeline Date" (change)="validateEndDate()" type="date" formControlName="end_date"></div>
                    </div>
                  </div>
                </div>
                <div formArrayName="timelines" class="d-flex rounded border mb-3 ff-theme text-dark fs-18" *ngFor="let timeline of addTournamentForm.get('timelines')?.controls; let i = index;">
                  <div class="px-4 py-4 align-self-center">
                    <i class="material-icons opacity5">date_range</i>
                  </div>
                  <div [formGroupName]="i" class="col border-left px-4 py-4">
                    <button type="button" class="close" aria-hidden="true" (click)="removeTimeline(i)" style="margin-top:4em; right:-1.14em; background-color:#fa5858">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row">
                      <div class="col-md-12"> <input class="form-control ff-theme fw-600 fs-18 text-dark" placeholder="Timeline Title" type="text" formControlName="title"></div>
                    </div>
                    <div class="row align-items-center mt-2">
                      <div class="col-md-2 p-0 pr-2 text-right"> Start Date </div>
                      <div class="col-md-4"> <input class="form-control ff-theme fw-600 fs-16 text-dark" (change)="validateTimelineDate(i)" placeholder="Timeline Date" type="date" formControlName="start_date"></div>
                      <div class="col-md-2 p-0 pr-2 text-right"> End Date </div>
                      <div class="col-md-4"> <input class="form-control ff-theme fw-600 fs-16 text-dark" (change)="validateTimelineDate(i)" placeholder="Timeline Date" type="date" formControlName="end_date"></div>
                    </div>
                    <div class="mt-2">
                        <textarea class="form-control ff-theme text-dark fs-18" placeholder="Timeline Description" formControlName="description"></textarea>
                    </div>
                 </div>
                </div>

                <!--<div class="d-flex rounded border mb-3 ff-theme text-dark fs-18">
        <div class="px-4 py-4 align-self-center">
          <i class="material-icons opacity5">date_range</i>
        </div>
        <div class="col border-left px-4 py-4">
          <div class="row">
            <div class="col-md-8"> <input class="form-control ff-theme fw-600 fs-18 text-dark" placeholder="Timeline Title" type="text" name=""></div>
            <div class="col-md-4"> <input class="form-control ff-theme fw-600 fs-16 text-dark" placeholder="Timeline Date" type="date" name=""></div>
          </div>
          <div class="mt-2">
            <textarea class="form-control ff-theme text-dark fs-18" placeholder="Timeline Description"></textarea>
          </div>
        </div>
      </div>-->
                <button (click)="addTimeline()" type="button" class="btn btn-outline-dark bw-1 btn-block">
                  <span class="mr-3 align-middle">
                    <i class="material-icons ">date_range</i>
                  </span>
                  <span class="align-middle fs-16 fw-600 ">ADD ANOTHER DATE</span>
                </button>

              </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="tab-2">
              <div class="pt-5">
                <!---->
                <div formArrayName="prizes" class="rounded border mb-3 ff-theme text-dark fs-18" *ngFor="let prize of addTournamentForm.get('prizes')?.controls; let j = index;">

                  <div [formGroupName]="j" class="d-flex col border-left px-4 py-4">
                    <button type="button" class="close" aria-hidden="true" (click)="removePrize(j)" style="margin-top:6.5em; right:-1.14em; background-color:#fa5858">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="px-4 py-4 align-self-center">
                      <div class="col-md-4">
                        <label for="bac-img-input{{j+1}}" class="ac-image-holder">
                          <img src="{{prize.get('badge').value}}" height="190px" />
                          <textarea formControlName="badge" class="form-control text-left ff-theme fs-18 text-dark d-none"></textarea>
                          <i *ngIf="!prize.get('badge').value" class=" list-icon material-icons opacity5">photo</i>
                        </label>
                        <input id="bac-img-input{{j+1}}" (change)="changeListenerPrizes($event, j)" type="file" class="d-none" />
                      </div>
                    </div>
                    <div class="col border-left px-4 py-4">

                      <div class="mt-2">
                       <!-- <div class="fs-18 fw-500">{{j+1}} Place</div>-->
                        <input formControlName="prize_title" class="form-control ff-theme fw-600 fs-18 text-dark" placeholder="Prize Title" type="text">
                      </div>
                      <div class="mt-2">
                        <input formControlName="points" class="form-control ff-theme fw-600 fs-18 text-dark" placeholder="Points" type="number">
                      </div>
                      <div class="mt-2">
                        <textarea formControlName="description" class="form-control ff-theme text-dark fs-18" placeholder="Prize Description"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <!--<div class="d-flex rounded border mb-3 ff-theme text-dark fs-18">
    <div class="px-4 py-4 align-self-center">
      <i class="material-icons opacity5">pages</i>
    </div>
    <div class="col border-left px-4 py-4">
      <div class="d-flex">
        <div class="col">
          <input value="2nd Placer" class="form-control ff-theme fw-600 fs-18 text-dark" placeholder="Timeline Title" type="text" name="">
        </div>
        <div>
          <button class="btn btn-outline-dark bw-1"><i class="material-icons">remove</i></button>
        </div>
      </div>
      <div class="mt-2">
        <textarea class="form-control ff-theme text-dark fs-18" placeholder="Prize Description"></textarea>
      </div>
    </div>
  </div>-->
                <button (click)="addPrize()" class="btn btn-outline-dark bw-1 btn-block">
                  <span class="mr-3 align-middle">
                    <i class="material-icons ">pages</i>
                  </span>
                  <span class="align-middle fs-16 fw-600 ">ADD ANOTHER PRIZE</span>
                </button>

                <!--<div formArrayName="consolation" class="rounded border mb-3 ff-theme text-dark fs-18" *ngFor="let consolation of addTournamentForm.get('consolation')?.controls; let j = index;">

                  <div [formGroupName]="j" class="d-flex col border-left px-4 py-4">
                    <button type="button" class="close" aria-hidden="true" (click)="removeConsolation(i)" style="margin-top:6.5em; right:-1.14em; background-color:#fa5858">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="px-4 py-4 align-self-center">
                      <div class="col-md-4">
                        <label for="bac-img-input-consolation" class="ac-image-holder">
                          <img src="{{consolation.get('badge').value}}" height="190px" />
                          <textarea formControlName="badge" class="form-control text-left ff-theme fs-18 text-dark d-none"></textarea>
                          <i *ngIf="!consolation.get('badge').value" class=" list-icon material-icons opacity5">photo</i>
                        </label>
                        <input id="bac-img-input-consolation" (change)="changeListenerConsolation($event, j)" type="file" class="d-none" />
                      </div>
                    </div>
                    <div class="col border-left px-4 py-4">

                      <div class="mt-2">
                        <div class="fs-18 fw-500">Consolation Prize</div>
                      </div>
                      <div class="mt-2">
                        <textarea formControlName="description" class="form-control ff-theme text-dark fs-18" placeholder="Prize Description"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <button *ngIf=" this.addTournamentForm.get('consolation').value.length ==0" (click)="addConsolation()" class="btn btn-outline-dark bw-1 btn-block">
                  <span class="mr-3 align-middle">
                    <i class="material-icons ">pages</i>
                  </span>
                  <span class="align-middle fs-16 fw-600 ">ADD CONSOLATION</span>
                </button>-->
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-3">
              <div class="pt-5">
                <div class="cp-details-head ">  <small>SEED FILTER</small></div>
                <div class="row">
                  <div class="col-md-6">
                    <ng-select placeholder="Region Filter"
                               (change)="changeRegFilter()"
                               [items]="region"
                               formControlName="region_filter"
                               bindLabel="first_name"
                               [title]="addTournamentForm.get('region_filter')?.value?.first_name + ' ' + addTournamentForm.get('region_filter')?.value?.last_name">
                      <ng-template ng-label-tmp let-item="item">
                        {{ item.first_name }} {{ item.last_name}}
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                        {{ item.first_name }} {{ item.last_name}}
                      </ng-template>
                    </ng-select>
                  </div>
                  <div class="col-md-6">
                    <ng-select placeholder="Office Filter" [items]="office"
                               formControlName="office_filter"
                                bindLabel="first_name"
                               [title]="addTournamentForm.get('office_filter')?.value?.first_name + ' ' + addTournamentForm.get('office_filter')?.value?.last_name">
                      <ng-template ng-label-tmp let-item="item">
                        {{ item.first_name }} {{ item.last_name}}
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item">
                        {{ item.first_name }} {{ item.last_name}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>

                <div class="widget-body clearfix col-md-12 mx-auto px-0" *ngIf="addTournamentForm.get('format')?.value == 'Teams'">
                  <div class="cp-details-head d-flex align-items-center">
                    <div> <small>TEAMS</small></div>
                    <div class="ml-auto"> <button (click)="addSeed()" class="mx-2 btn-sm btn btn-primary"><i class="material-icons align-middle list-icon text-white">add</i> <span class="align-middle">ADD NEW TEAM</span></button></div>
                  </div>
                  <div formArrayName="seeding" *ngFor="let seed of addTournamentForm.get('seeding')?.controls; let k = index;" class="accordion accordion-minimal" id="accordion-5" role="tablist" aria-multiselectable="true">
                    <div [formGroupName]="j" class="card" style="border:solid #dddddd85;">
                      <div class="card-header" role="tab" id="heading13">
                        <div class="card-title px-0 fw-600 d-flex align-items-center">
                          <div class="pl-4 col">  <input placeholder="Team Name" class="col-md-10 text-dark fw-400 ff-theme ac-input form-control " type="text"></div>
                          <button (click)="addMemberModel()" class="mx-2 btn-sm btn btn-primary"><i class="material-icons align-middle list-icon text-white">addmember</i> <span class="align-middle">ADD MEMBER</span></button>
                          <div class="ml-auto">
                            <a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="collapsed">
                            </a>

                          </div>
                          <div class="mr-2"> <button (click)="removeSeed(j+1)" class="btn btn-white text-muted btn-sm btn-circle ml-2"><i class="material-icons">close</i></button></div>
                        </div>
                      </div>
                      <div id="collapseFive" class="card-collapse collapse" role="tabpanel" aria-labelledby="heading13" style="">
                        <div class="card-body">
                          <div class="form-input-icon">

                            <ng-select #selectSeed placeholder="Search Employee" name="selectSeed" [items]="employees$ | async" bindLabel="first_name" [loading]="employeeLoading"
                                       [typeahead]="employeeInput$" (change)="addSeed($event)">
                              <ng-template ng-label-tmp let-item="item">
                              </ng-template>
                              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                {{ item.first_name }} {{ item.last_name}}
                              </ng-template>
                            </ng-select>
                          </div>
                          <div class="seed-item border-left border-gray bw-5 bg-white px-3 py-2 rounded mb-3 text-left d-flex align-items-center text-dark fs-16">
                            <div>
                              <!--<img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">-->
                              <span class="ml-2 ff-theme align-middle  fw-400">ALEX AMINI (REP)</span>
                            </div>
                            <div class="ml-auto">
                              10.00
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.card -->
                    <!-- /.panel -->
                  </div>
                  <!-- /.panel-group -->
                </div>
                <div *ngIf="addTournamentForm.get('format')?.value == 'Insdividual'" class="mb-4 mt-4">

                  <div class="form-input-icon">

                    <ng-select #selectSeed placeholder="Search Employee" name="selectSeed" [items]="employees$ | async" bindLabel="first_name" [loading]="employeeLoading"
                               [typeahead]="employeeInput$" (change)="addSeed($event)">
                      <ng-template ng-label-tmp let-item="item">
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        {{ item.first_name }} {{ item.last_name}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
                <!--<div class="px-3 py-3  mb-1 text-left d-flex align-items-center text-dark fs-12 fw-600 opacity3 ff-theme">
                  <div class="col-3">SEED NUMBER</div>
                  <div class="">PARTICIPANT</div>
                  <div class="ml-auto">TSI</div>
                </div>-->
                <!--<div formArrayName="seeding" *ngFor="let seed of addTournamentForm.get('seeding')?.controls; let k = index;">
                  <div class="seed-item border-left border-gray bw-5 bg-white px-3 py-3 rounded mb-3 text-left d-flex align-items-center text-dark fs-18">

                    <div [formGroupName]="k" class="col-3 seed-item-name fw-600 text-uppercase">
                      Seed {{k+1}}
                    </div>
                    <img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">
                    <span class="ml-2 ff-theme align-middle  fw-500">{{seed.controls.participant_name.value}}</span>
                    <div class="ml-auto">
                      {{seed.controls.participant_tsi.value | number:'1.2'}}
                    </div>
                    <div class="ml-4"><button (click)="removeSeed(k)" class="btn btn-white text-muted btn-sm btn-circle"><i class="material-icons">close</i></button></div>
                  </div>
                </div>-->
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-4">
              <div class="pt-2">

                <div class="cp-details-head mt-4 mb-2 text-dark fw-600 ff-theme">
                  <small>COMPETITION TYPE</small>
                </div>
                <div class="row">
                  <div class="col-md-9">
                    <ng-select placeholder="SELECT COMPETITION TYPE" formControlName="type" [items]="tournament_types">
                      <ng-template ng-label-tmp let-item="item">
                        {{ item}}
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item">
                        {{ item}}
                      </ng-template>
                    </ng-select>
                  </div>
                  <div class="col-md-3">
                    <ng-select placeholder="Seed Composition" [items]="team_composition" formControlName="format">
                      <ng-template ng-label-tmp let-item="item">
                        {{ item}}
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item">
                        {{ item}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>

                <div class="mt-4" *ngIf="addTournamentForm.get('type')?.value == 'Bracket Style Tournament'">
                  <!--<ng-select placeholder="--SELECT BRACKET TYPE--" formControlName="format" [items]="bracket_format">
        <ng-template ng-label-tmp let-item="item">
          {{ item}}
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          {{ item}}
        </ng-template>
      </ng-select>-->
                  <div class="cp-details-head mt-4"><i class="material-icons">info_outline</i>  <small>BRACKET INFO</small></div>
                  <div class=" text-left ff-theme mb-4 fs-18 text-dark">
                    The loser of each match-up is immediately eliminated from the tournament. Each winner will play another in the next round, until the final match-up, whose winner becomes the tournament champion.
                  </div>
                </div>
                <div class="mt-4" *ngIf="addTournamentForm.get('type')?.value == 'Quota Competition'">
                  <div formArrayName="tsitiers" *ngFor="let tier of addTournamentForm.get('tsitiers')?.controls; let k = index;">
                    <div class="col-md-10 mx-auto bg-white px-3 py-3 rounded mb-3 text-left d-flex align-items-center text-dark fs-18">
                      <div [formGroupName]="k" class="col-md-10 fw-600 text-uppercase">
                        <div class="row">
                          <div class="col-md-4 my-auto text-right pr-4">
                            Tier {{k+1}}
                          </div>
                          <div class="col-md-8">
                            <input placeholder="TSI Amount" class="form-control ff-theme fs-18 text-dark" type="text" formControlName="tsi_amount">
                          </div>
                        </div>
                      </div>
                      <div class="ml-4"><button (click)="removeTSITier(k)" class="btn btn-white text-muted btn-sm btn-circle"><i class="material-icons">close</i></button></div>
                    </div>
                  </div>
                  <button (click)="addTSITier()" type="button" class="btn btn-outline-dark bw-1 btn-block">
                    <span class="mr-3 align-middle">
                      <i class="list-icon feather feather-hash"></i>
                    </span>
                    <span class="align-middle fs-16 fw-600 ">ADD TSI QUOTA</span>
                  </button>
                  <div class="cp-details-head mt-4"><i class="material-icons">info_outline</i>  <small>QUOTA INFO</small></div>
                  <div class=" text-left ff-theme mb-4 fs-18 text-dark">
                    Sell a minimum amount of TSI to earn a prize. Can have multiple tiers
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center py-4">
            <button (click)="activeModal.close()" type="button" class="mx-2 btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="mx-2 btn btn-primary">ADD NEW ENTRY</button>
          </div>
          </form>
      </div>
    </div>
  <!--</div>-->
