/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.loader,
.loader:before,
.loader:after {
  background: #ffcd01;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.show-placeholder > div > a {
  display: none;
}
.loader {
  color: #ffcd01;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.modal-backdrop.show {
  opacity: 0.5 !important;
}

.ng-select.ng-select-single .ng-select-container {
  height: 42px;
}

/*
** matchup-bracket
*/
#big.match-bracket .match {
}

#big.match-bracket .team {
  background-color: #fff;
  opacity: 1;
}

#big.match-bracket .teamContainer {
  box-shadow: 0 1px 3px rgba(0,0,0,.05) !important;
}

#big.match-bracket .team:first-child {
  border-bottom-color: #eee;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#big.match-bracket .team:nth-child(2) {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#big.match-bracket .team.highlight {
  background-color: #03a9f3 !important;
  color: #fff;
}

  #big.match-bracket .team.highlight .label,
  #big.match-bracket .team.highlight .score {
    color: #fff;
  }

#big.match-bracket .connector.highlight {
  border-color: #03a9f3;
}

#big.match-bracket .score {
  padding: 2px;
}

#big.match-bracket .team div.label {
  left: 10px;
  top: 5px;
  color: #000;
  text-align: left;
}

#big.match-bracket .team.na {
  margin-bottom: 0;
  border: 0px;
  opacity: 0.5 !important;
  background-color: #fff;
}
