<button type="button" class="close" aria-hidden="true" (click)="activeModal.close()">
  <span aria-hidden="true">&times;</span>
</button>
<div class="modal-body px-0 pb-0">
  <div class="fs-16 ff-theme text-warning fw-500 mb-3 text-center">
    <span class="align-middle">Add New Employee Account</span>
  </div>
  <form [formGroup]="addAccountForm" (ngSubmit)="addAccount()">
    <aw-wizard>
      <aw-wizard-step stepTitle="">
        <div class="mb-4">
          <div class="form-input-icon">
            <ng-select placeholder="Search employee" [items]="employees$ | async" bindLabel="first_name" [loading]="employeeLoading"
              [typeahead]="employeeInput$" (change)="onChangeEmployee($event)" (clear)="clearEmployee($event)">
              <ng-template ng-label-tmp let-item="item">
                {{ item.first_name }} {{ item.last_name}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                {{ item.first_name }} {{ item.last_name}}
              </ng-template>
            </ng-select>
          </div>
        </div>
        <hr>
        <div class="form-group mt-4 row mb-2 align-items-center">
          <label class="control-label col-md-4 mb-0">First Name</label>
          <div class="col-md-8">
            <input class="form-control ff-theme fw-600 text-dark" type="text" formControlName="first_name">
          </div>
        </div>
        <br>
        <div class="form-group mb-2 row align-items-center">
          <label class="control-label col-md-4 mb-0">Last Name</label>
          <div class="col-md-8">
            <input class="form-control ff-theme fw-600 text-dark" type="text" formControlName="last_name">
          </div>
        </div>
        <br>
        <div class="form-group mb-2 row align-items-center">
          <label class="control-label col-md-4 mb-0">Email</label>
          <div class="col-md-8">
            <input class="form-control ff-theme fw-600 text-dark" type="email" formControlName="email">
          </div>
        </div>
        <br>
        <div class="form-group mb-2 row align-items-center">
          <label class="control-label col-md-4 mb-0">Phone No.</label>
          <div class="col-md-8">
            <input class="form-control ff-theme fw-600 text-dark" type="text" formControlName="phone_number">
          </div>
        </div>
        <div class="text-center mb-4 mt-4">
          <button type="button" class="btn btn-default mr-2" (click)="activeModal.close()">Cancel</button>
          <button type="button" class="btn btn-warning" awNextStep>Next</button>
        </div>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="">
        <div class="form-group mb-0 row align-items-center">
          <div class="alert alert-warning" role="alert">
            <strong>Note:</strong> The user credentials provided below will also be used in Docebo account
            creation(Username will have <strong>'ch_'</strong> prefix).
          </div>
        </div>
        <div class="form-group mb-2 row align-items-center">
          <label class="control-label col-md-4 mb-0">Username</label>
          <div class="col-md-8">
            <input class="form-control ff-theme fw-600 text-dark" type="text" formControlName="username">
          </div>
        </div>
        <br>
        <div class="form-group mb-2 row align-items-center">
          <label class="control-label col-md-4 mb-0">Password</label>
          <div class="col-md-8">
            <input class="form-control ff-theme fw-600 text-dark" type="password" formControlName="password">
          </div>
        </div>
        <br>
        <div class="form-group mb-2 row align-items-center">
          <label class="control-label col-md-4 mb-0">Confirm Password</label>
          <div class="col-md-8">
            <input class="form-control ff-theme fw-600 text-dark" type="password" formControlName="confirm_password">
          </div>
        </div>
        <div class="text-center mb-4 mt-4">
          <button type="button" class="btn btn-default mr-2" awPreviousStep>Back</button>
          <button type="submit" class="btn btn-warning" [disabled]="!addAccountForm.valid">
            <span *ngIf="loading; else notLoading;">
              <i class="fa fa-spinner fa-spin"></i>&nbsp; Saving ...
            </span>
            <ng-template #notLoading>Finish & Save</ng-template>
          </button>
        </div>
      </aw-wizard-step>
    </aw-wizard>
  </form>
</div>
