﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clear Home</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,900,900i" />
    @Styles.Render("~/Bundles/styles.31f218633188cdbc2104.css")
</head>
<body app-root>
    @RenderBody()
    @Scripts.Render("~/Bundles/runtime.4201e71fff6135393eb1.js")
    @Scripts.Render("~/Bundles/polyfills.5ba891d9c077bddff80f.js")
    @Scripts.Render("~/Bundles/scripts.d3c4a94bb61288819173.js")
    @Scripts.Render("~/Bundles/main.2b7e5a97fd4f73dc7bdd.js")
</body>
</html>
