<!-- HEADER & TOP NAVIGATION -->
<!-- Left Menu & Sidebar Toggle -->
<ul class="nav navbar-nav">
  <li class="sidebar-toggle">
    <a href="javascript:void(0)" (click)="toggleSidebar($event)" class="ripple">
      <i class="feather feather-menu list-icon fs-20"></i>
    </a>
  </li>
</ul>
<!-- /.navbar-left -->
<!-- Logo Area -->
<div class="navbar-header d-none d-md-inline-block">
  <a [routerLink]="['/home']" class="navbar-brand">
    <img class="logo-expand" alt="" src="assets/img/clearhome.png" height="35">
    <img class="logo-collapse" alt="" src="assets/img/clearhome.png" height="35">
  </a>
</div>
<div class="spacer"></div>
<!-- Button: Create New -->
<!-- <div class="btn-list dropdown d-none d-md-flex mr-4"><a href="javascript:void(0);" data-toggle="modal" data-target="#switch_org_modal" class="btn btn-primary btn-xs  dropdown-toggle ripple" data-toggle="dropdown"><i class="material-icons list-icon">trending_up</i>&emsp;<span id="current_org">OFFICE STATS</span></a>
  </div> -->
<!-- /.navbar-right -->
<!-- Right Menu -->
<ul class="nav navbar-nav d-none d-lg-flex ml-2">
  <li class="dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle ripple" data-toggle="dropdown">
      <i class="feather feather-bell list-icon"></i>
    </a>
    <div class="dropdown-menu dropdown-left dropdown-card animated flipInY">
      <div class="card">
        <header class="card-header d-flex align-items-center mb-0">
          <a href="javascript:void(0);">
            <i class="feather feather-bell color-color-scheme" aria-hidden="true"></i>
          </a>
          <span class="heading-font-family flex-1 text-center fw-400">Notifications</span>
          <a href="javascript:void(0);">
            <i class="feather feather-settings color-content"></i>
          </a>
        </header>
        <ul class="card-body list-unstyled dropdown-list-group">
          <li>
            <a href="javascript:void(0);" class="media">
              <span class="d-flex">
                <i class="material-icons list-icon bg-info">priority_high</i>
              </span>
              <span class="media-body">
                <span class="heading-font-family media-heading">Danny Miles</span>&nbsp;
                <span class="media-content">assigned you to a new Objective </span>
                <small>Just now</small>
              </span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="media">
              <span class="d-flex">
                <i class="material-icons list-icon bg-success">check</i>
              </span>
              <span class="media-body">
                <span class="heading-font-family media-heading">Danny Miles</span>&nbsp;
                <span class="media-content">marked
                  <span class="text-success">Marketing 2</span> as complete</span>
                <small>Just now</small>
              </span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="media">
              <span class="d-flex">
                <i class="material-icons list-icon bg-info">event_note</i>
              </span>
              <span class="media-body">
                <span class="heading-font-family media-heading">Marketing 2</span>&nbsp;
                <span class="media-content">will due in 1 day </span>
                <small>Just now</small>
              </span>
            </a>
          </li>
        </ul>
        <!-- /.dropdown-list-group -->
        <footer class="card-footer text-center">
          <a href="javascript:void(0);" class="content-font-family text-uppercase fs-13">See All Activity</a>
        </footer>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.dropdown-menu -->
  </li>
  <!-- /.dropdown -->
  <li class="dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle ripple" data-toggle="dropdown">
      <i class="feather feather-settings list-icon"></i>
    </a>
  </li>
  <!-- /.dropdown -->
</ul>
<!-- /.navbar-right -->
<!-- User Image with Dropdown -->
<ul class="nav navbar-nav d-lg-flex">
  <li class="dropdown" *ngIf="(currentUser$ | async) as currentUser">
    <a href="javascript:void(0);" class="dropdown-toggle ripple" data-toggle="dropdown">
      <span class="avatar thumb-xs">
        <img src="assets/img/user-1.jpg" class="rounded" alt=""> </span>
      <span class="d-none d-md-inline-block ml-3">{{ currentUser.first_name }}</span>&nbsp;&nbsp;
      <i class="feather feather-chevron-down list-icon"></i>
    </a>
    <div class="dropdown-menu dropdown-left animated flipInY">
      <span class="dropdown-header fw-400">
        {{ currentUser.first_name }} {{ currentUser.last_name }}
        <div class="fs-13  text-muted">{{ currentUser.email }}</div>
      </span>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item fs-13" href="javascript:void(0);">My Account</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item fs-13" href="javascript:void(0);">My Organization</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item fs-13" href="javascript:void(0);" (click)="logOut($event)">
        <span class="d-flex align-items-center">
          <span class="flex-1">Logout</span>
          <i class="feather feather-power list-icon icon-muted"></i>
        </span>
      </a>
    </div>
  </li>
  <li>
    <a href="javscript:void(0);" (click)="toggleRightSidebar($event)" class="office-qs-btn bg-gray-100 ripple">
      <i class="material-icons text-dark">group_work</i>
    </a>
  </li>
</ul>
