<div class="p-ranking-container clearfix ">
  <div class="container pt-5">
    <div class="col-10 mx-auto">
      <div class="p-ranking-box box-shadow rounded bg-white">
        <div class="a-w-icon  d-block  py-4 px-4 fw-600 ">
          <div class="d-flex p-rank-header">
            <div>
              <h6 class="m-0 pt-1 text-dark">
                <i class="material-icons gold-color fs-30 mr-2 ">local_activity</i>
                <span>Employee Lists</span>
              </h6>
              <i class="bg-icon material-icons">local_activity</i>
            </div>
            <div class="ml-auto">

            </div>
          </div>
        </div>
        <div class="py-3 px-4 bg-gray-100 d-flex align-items-center p-rank-header2">
          <div>
            <div class="btn-group m-r-10">
              <button aria-expanded="false" data-toggle="dropdown" class="px-3 py-1 ff-theme fs-14 btn btn-outline-dark bw-1 btn-sm dropdown-toggle  ripple"
                type="button"><i class="list-icon material-icons">person_pin</i> &nbsp; All Types <span class="caret"></span>
              </button>
              <div role="menu" class="dropdown-menu">
                <a class="dropdown-item" href="#"><strong>All Types</strong></a>
                <a class="dropdown-item" href="#">Admin</a>
                <a class="dropdown-item" href="#">President</a>
                <a class="dropdown-item" href="#">Director</a>
              </div>
            </div>
          </div>
          <div class="ml-auto col-5 mr-2">
            <div class="form-input-icon"><i class="material-icons list-icon">search</i>
              <input class="form-control fs-14 bg-transparent text-dark border-gray" placeholder="Find..." type="text">
            </div>
          </div>
          <div>
            <button data-toggle="modal" data-target="#new_emp" class="btn-warning btn btn-normal border-0"><i class="material-icons">add</i>&nbsp;
              NEW</button>
          </div>
        </div>
        <div *ngIf="(loading$ | async); else loaded;" class="loader"></div>
        <ng-template #loaded>
          <div class="table-holder py-3 px-4">
            <table class="table table-striped table-hover">
              <thead>
                <tr class="text-dark text-uppercase fs-12 fw-600">
                  <td style="min-width: 180px;" class="px-3 py-2"> Name</td>
                  <td style="min-width: 140px;" class="px-3 py-2"> Email</td>
                  <td style="min-width: 140px;" class="px-3 py-2"> Phone Number</td>
                  <td class="px-3 py-2"> Type</td>
                  <td class="px-3 py-2"> Username</td>
                  <td class="px-3 py-2" style="width: 120px;"></td>
                </tr>
              </thead>
              <tbody *ngIf="(total_filtered$ | async) > 0" class="text-dark">
                <tr *ngFor="let e of employees$ | async; let i = index">
                  <td class="px-3">
                    <div class="fw-500 pt-1 lh-13">{{ e.first_name }} {{ e.last_name }}</div>
                  </td>
                  <td class=" px-3 py-2">{{ e.email ? e.email : '----------' }}</td>
                  <td class=" px-3 py-2">{{ e.phone_number }}</td>
                  <td class=" px-3 py-2">{{ e.type ? e.type : '-----' }}</td>
                  <td class=" px-3 py-2">{{ e.username }}</td>
                  <td class=" px-3 py-2 text-center">
                    <button *ngIf="e.has_account; else noAccount;" (click)="editAccount(e.id, e.username, e.type)" type="button"
                      ngbTooltip="Edit Account" class="btn btn-outline-info bw-1 btn-circle btn-sm text-center ripple">
                      <i class="material-icons list-icon  fs-20" style="margin-top: 2px;margin-left:1.5px;">account_box</i>
                    </button>
                    <ng-template #noAccount>
                      <button type="button" ngbTooltip="Add Account" (click)="addAccount(e.id, e.type)" class="btn btn-outline-default bw-1 btn-circle btn-sm text-center ripple">
                        <i class="material-icons list-icon text-dark fs-18" style="margin-top: 2px;margin-left:1.5px;">edit</i>
                      </button>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row mt20" *ngIf="(total_filtered$ | async) > 0">
              <div class="col-xs-12 col-sm-6">
                <div class="mt5">Showing
                  <strong>{{ (total_filtered$ | async) | startPage:{ page: page, limit: (limit$ | async) } }}</strong>
                  to
                  <strong>{{ (total_filtered$ | async) | endPage:{ page: page, limit: (limit$ | async), total: (total$
                    | async) }
                    }}
                  </strong> of
                  <strong>{{ total$ | async }} employee(s)</strong>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="pull-right">
                  <ngb-pagination [collectionSize]="(total$ | async)" [pageSize]="(limit$ | async)" [(page)]="page"
                    [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
