<div id="wrapper" class="wrapper">
  <nav app-common-header class="navbar"></nav>
  <div class="content-wrapper">
    <aside app-common-sidebar class="site-sidebar scrollbar-enabled" data-suppress-scroll-x="true"></aside>
    <div app-common-right-sidebar class="side-panel"></div>
    <main class="main-wrapper clearfix">
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer app-common-footer class="footer"></footer>
</div>
