body {
  padding: 40px;
}
.jQBracket .team .label{
  position:unset !important;
}
.dots {
  margin: 40px auto;
}

.dot {
  display: inline-block;
  border-radius: 50%;
  width: 50%;
  background-color: #EEE;
  height: 15px;
  width: 15px;
  margin: 0 2px;
}

  .dot.dot-online {
    background-color: #38d57a;
  }

  .dot.dot-offline {
    background-color: #e7e7e7;
  }

  .dot.dot-danger {
    background-color: #D9534F;
  }

  .dot.dot-sm {
    height: 10px;
    width: 10px;
  }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  .dot.dot-lg {
    margin: 0 4px;
    height: 20px;
    width: 20px;
  }

/*
** matchup-bracket
*/
#big .team {
  /**border-left: 2px solid #eee;*/
  background-color: #fff !important;
  box-shadow: 0 1px 2px rgba(0,0,0,.1) !important;
  opacity: 1;
  border-radius: 3px !important;
  border:1px solid #000 !important;
}
#big.match-bracket .team.na {
  margin-bottom: 0;
  border-radius: 3px;
  border: 0px;
  opacity: 0.5 !important;
  background-color: #fff !important;
  box-shadow: 0 1px 2px rgba(0,0,0,.1) !important;
}
.bye-list {
  padding-bottom: 20px;
  padding-left: 110px !important;
}
.bye-list-container {
  box-shadow: 0 1px 2px rgba(0,0,0,.1) !important;
  border-radius: 5px;
}

.accordion-minimal .card-title a:hover, .accordion-minimal .card-title a:focus {
  color: #ffcc02 !important;
}
.card-body {
  background-color: #fcfcfc;
}
.card-header {
  border-bottom: none !important;
}
