
<div *ngIf="(loading$ | async); else loaded;" style="height:300px">
  <div *ngIf="(loading$ | async); else loaded;" class="loader" style="margin-top:200px"></div>
</div>

<ng-template #loaded>
  
  <div class="competition-page " *ngIf="(tournament$ | async) as tournament">
    <!-- <div class="cp-page-nav text-center">
       <a href=""><img class="logo-collapse" alt="" src="assets/img/clearhome.png" height="35"></a>
    </div> -->
    <a href="" class="cp-update-btn"><i class="material-icons">edit</i></a>
    <div class="cp-hero">
      <div class="cp-hero-bg">
        <img class="center" src="data:image/{{tournament.bgImageType}},{{tournament.bgImage}}">
      </div>
      <div class="container text-center">
        <div><img src="data:image/{{tournament.iconType}},{{tournament.icon}}" height="150px"></div>
        <div class="ff-theme">
          <h2>{{tournament.name}}</h2>
          <div class="cp-hero-date ff-theme">{{tournament.startDate | date:'mediumDate'}} - {{tournament.endDate | date:'mediumDate'}}</div>

        </div>
      </div>
    </div>
    <div class="cp-details">
      <div class="container text-center">
        <div class="col-md-7 mx-auto">
          <!--<div class="cp-promo-vid">-->
          <!--<img src="assets/img/cp-bg.jpeg">
          <i class="material-icons">play_circle_outline</i>-->
          <div [innerHTML]='iframe_html'></div>
          <!-- </div> -->
        </div>
      </div>
      <div class="text-center menu-division">
        <div class="container">
          <div class="col-md-7 mx-auto">
            <ul class="nav nav-tabs " role="tablist">
              <li role="presentation"><a href="#home" class="active" aria-controls="home" role="tab" data-toggle="tab"><i class="material-icons">flag</i> DETAILS</a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="material-icons">pages</i> PRIZES</a></li>
              <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="material-icons">dns</i> TYPE</a></li>
              <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="material-icons">assistant</i> SEEDING</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cp-tab-details">
        <div class="container text-center">
          <div class="">
            <!-- Tab panes -->
            <div class="cp-details-rules">
              <div class="tab-content p-0 bg-transparent">
                <div role="tabpanel" class="tab-pane active" id="home">
                  <div class="col-md-7 mx-auto">
                    <p class="cp-details-head "><i class="material-icons">flag</i>  <small>RULES</small></p>

                    <!--<img src="assets/img/rules-head.png">
                      <br><br>
                      Keep track of all of the action during the Group Stage by tuning into the Multicast stream. This stream will highlight the best parts of matches being played simultaneously. Watch Multicast via Steam Broadcasting or Twitch. Available in English, Chinese, and Russian.
                    </p>
                    <p>
                        To Qualify:<br>
                        Rookies must have at least 2 installs<br>
                        Veterans must have at least 4 installs-->
                    <div [innerHTML]="tournament.details">
                    </div>

                    <hr>
                    <p class="cp-details-head mb-0"><i class="material-icons">date_range</i>  <small>TIMELINE</small></p>
                    <div class="small-timeline text-left px-1 pt-0 mt-0">
                      <div class="small-timeline-item  fs-20 text-dark">
                        <div class="timeline-item-name d-flex  align-items-center py-4">
                          <div class="mr-auto">
                            <div class="ellipsis ff-theme fw-600">Opening</div>
                            <div class="d-block mt-2 ff-theme fs-16 opacity7 fw-500">
                              {{tournament.startDate | date:'mediumDate'}}
                            </div>
                            <div class="fs-18 mt-3">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="small-timeline-item  fs-20 text-dark" *ngFor="let timeline of tournament.timelines">
                        <div class="timeline-item-name d-flex  align-items-center py-4">
                          <div class="mr-auto">
                            <div class="ellipsis ff-theme fw-600">{{timeline.title}}</div>

                            <div class="d-block mt-2 ff-theme fs-16 opacity7 fw-500">
                              {{timeline.startDate | date:'mediumDate'}} -  {{timeline.endDate | date:'mediumDate'}}
                            </div>
                            <div class="fs-18 mt-3">
                              {{timeline.description}}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="small-timeline-item  fs-20 text-dark">
                        <div class="timeline-item-name d-flex  align-items-center py-4">
                          <div class="mr-auto">
                            <div class="ellipsis ff-theme fw-600">Closing</div>
                            <div class="d-block mt-2 ff-theme fs-16 opacity7 fw-500">
                              {{tournament.endDate | date:'mediumDate'}}
                            </div>
                            <div class="fs-18 mt-3">

                            </div>
                          </div>
                        </div>
                      </div>
                      <!--<div class="small-timeline-item  fs-20 text-dark">
                        <div class="timeline-item-name d-flex  align-items-center py-4">
                          <div class="mr-auto">
                            <div class="ellipsis ff-theme fw-600">Nomination and Seeding</div>
                            <div class="d-block mt-2 ff-theme fs-16 opacity7 fw-500">
                              DECEMBER 11, 2018
                            </div>
                            <div class="fs-18 mt-3">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                          </div>
                        </div>
                      </div>-->
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                  <div class=" py-3 px-3 bg-white rounded mb-3" *ngFor="let prize of tournament.prizes">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="mt-5 pt-5 text-right mr-4  text-dark">
                          <span class="fs-30"><i class="opacity2 fs-30 align-middle material-icons list-icon">pages</i> <strong class="fs-20 ml-2">{{prize.prize_title}}</strong></span>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-4 text-center">
                            <img class="mt-2 d-inline-block" style="max-height:300px;min-height:100%;width:auto;" src="data:image/{{prize.badgeType}},{{prize.badge}}">
                          </div>
                          <div class="col-md-8">
                            <div class="px-3 text-left"> <h3> {{prize.description}} </h3></div>
                            <div class="px-3"> <p> {{prize.points}} Points </p></div>
                          </div>
                          <!--<div class="col-md-4 text-center">
                            <img class="mt-2 mx-3 d-inline-block" style="max-height:300px;min-height:100%;width:auto;" src="assets/img/price-1.jpg">
                          </div>
                          <div class="col-md-4 text-center">
                            <img class="mt-2 mx-3 d-inline-block" style="max-height:300px;min-height:100%;width:auto;" src="assets/img/price-1.jpg">
                          </div>-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class=" py-3 px-3 bg-white rounded mb-3" *ngFor="let consolation of tournament.consolation">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="mt-5 pt-5 text-right ml-4 pl-4 text-dark text-center">
                          <span class="fs-30">
                            <i class="opacity2 fs-30 align-middle material-icons list-icon">pages</i>
                            <strong class="fs-20 ml-2"> CONSOLATION </strong>
                            <strong class="fs-20 ml-2">  PRIZE</strong>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-4 text-center">
                            <img class="mt-2 mx-3 d-inline-block" style="max-height:300px;min-height:100%;width:auto;" src="data:image/{{consolation.badgeType}},{{consolation.badge}}">
                          </div>
                          <div class="col-md-8 text-center">
                            <div class="row"> <h3> {{consolation.description}} </h3></div>
                            <!--<div class="row"> <p> {{prize.points}} Points </p></div>-->
                          </div>

                          <!--<div class="col-md-4 text-center">
                            <img class="mt-2 mx-3 d-inline-block" style="max-height:300px;min-height:100%;width:auto;" src="assets/img/price-1.jpg">
                          </div>
                          <div class="col-md-4 text-center">
                            <img class="mt-2 mx-3 d-inline-block" style="max-height:300px;min-height:100%;width:auto;" src="assets/img/price-1.jpg">
                          </div>-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <!--<div class=" py-3 px-3">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="mt-5 pt-5 text-right mr-4 pr-4 text-dark">
                          <span class="fs-30"><i class="opacity2 fs-30 align-middle material-icons list-icon">pages</i> 2nd</span>
                          <strong class="d-block fs-20">SECOND PRIZE</strong>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-md-4 text-center">
                            <img class="mt-2 mx-3 d-inline-block" style="max-height:300px;min-height:100%;width:auto;" src="assets/img/price-2.jpg">
                          </div>
                          <div class="col-md-4 text-center">
                            <img class="mt-2 mx-3 d-inline-block" style="max-height:300px;min-height:100%;width:auto;" src="assets/img/31326592_2055601618030320_5638527259116568576_n.jpg">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class=" py-3 px-3">
                    <div class="row">
                      <div class="col-md-3 text-right">
                        <div class="mt-5 pt-5 mr-4 pr-4 text-dark">
                          <p class="text-right"> 1st-3rd placer profile badges:</p>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div class="mt-5 pt-4 text-left ff-theme">
                          <span class="placer-badge mr-3">
                            <i><img alt="" src="assets/img/black-league2.png" height="30"></i>
                            <span>1<sup>st</sup></span>
                          </span>
                          <span class="placer-badge mr-3">
                            <i><img alt="" src="assets/img/black-league2.png" height="30"></i>
                            <span>2<sup>nd</sup></span>
                          </span>
                          <span class="placer-badge mr-3">
                            <i><img alt="" src="assets/img/black-league2.png" height="30"></i>
                            <span>3<sup>rd</sup></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>-->
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                  <div class="col-md-7 mx-auto">
                    <div class="mb-4">
                      <!--<div class="form-input-icon">
                        <i class="fs-26 material-icons list-icon">search</i>
                        <input class="form-control bw-2 ff-theme fs-18" id="l6" placeholder="Search" type="text">
                      </div>-->
                    </div>
                    <div class="px-3 py-3  mb-1 text-left d-flex align-items-center text-dark fs-12 fw-600 opacity3 ff-theme">
                      <div class="col-3">SEED NUMBER</div>
                      <div class="">PARTICIPANT</div>
                      <div class="ml-auto">TSI</div>
                    </div>
                    <div *ngFor="let seed of tournament.seeding" class="seed-item border-left border-gray bw-5 bg-white px-3 py-3 rounded mb-3 text-left d-flex align-items-center text-dark fs-18">
                      <div class="col-3 seed-item-name fw-600 text-uppercase">
                        Seed {{seed.seedNumber}}
                      </div>
                      <div>
                        <!--<img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">-->
                        <span class="ml-2 ff-theme align-middle  fw-500">{{seed.repName}}</span>
                      </div>
                      <div class="ml-auto">
                        {{ seed.tsi | number:'1.2'}}
                      </div>
                    </div>
                    <!--<div class="seed-item border-left border-warning bw-5 bg-white px-3 py-3 rounded mb-3 text-left d-flex align-items-center text-dark fs-18">
                      <div class="col-3 seed-item-name fw-600 text-uppercase">
                        Seed 2
                      </div>
                      <div>
                        <img src="assets/img/user-5.jpg" class="rounded" alt="" height="30">
                        <span class="ml-2 ff-theme align-middle  fw-500">Johnny Legendary </span>
                      </div>
                      <div class="ml-auto">
                        128,120
                      </div>
                    </div>
                    <div class="seed-item border-left border-danger bw-5 bg-white px-3 py-3 rounded mb-3 text-left d-flex align-items-center text-dark fs-18">
                      <div class="col-3 seed-item-name fw-600 text-uppercase">
                        Seed 3
                      </div>
                      <div>
                        <img src="assets/img/user-3.jpg" class="rounded" alt="" height="30">
                        <span class="ml-2 ff-theme align-middle  fw-500">Luke Lucky </span>
                      </div>
                      <div class="ml-auto">
                        92,229
                      </div>
                    </div>
                    <div class="seed-item border-left border-info bw-5 bg-white px-3 py-3 rounded mb-3 text-left d-flex align-items-center text-dark fs-18">
                      <div class="col-3 seed-item-name fw-600 text-uppercase">
                        Seed 4
                      </div>
                      <div>
                        <img src="assets/img/user-4.jpg" class="rounded" alt="" height="30">
                        <span class="ml-2 ff-theme align-middle  fw-500">Mayan Donadona</span>
                      </div>
                      <div class="ml-auto">
                        92,200
                      </div>
                    </div>-->
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="settings">
                  <!-- Start: Bracket -->
                  <div class="cp-details-head mt-4"><i class="material-icons">info_outline</i>  <small class="text-uppercase"> {{tournament.type}}</small></div>

                  <div class="row">
                    <div class="col-md-5 mx-auto">
                      <div *ngIf="generated_bracket == 0" class="mt-4">
                        <div class="fs-12 mb-2">GENERATE BRACKET USING</div>
                        <button (click)="selectionBye()" class="btn btn-block btn-primary fs-18 letter-space2 my-3 fw-600">
                          <i class="material-icons align-middle mr-2">keyboard_tab</i> <span class="align-middle">USE CURRENT SEEDING</span>
                        </button>
                        <button (click)="randomBracket()" class="btn btn-block btn-primary fs-18 my-3 fw-600">
                          <i class="material-icons align-middle mr-2">shuffle</i> <span class="align-middle">RANDOMIZE</span>
                        </button>
                      </div>
                      <div *ngIf="generated_bracket == 3" class="mt-4">
                        <button class="btn btn-block text-dark bg-white fs-18 letter-space2 lh-10 my-3 fw-600">
                          <div class="fs-12 mb-0 text-muted fw-300">GENERATED BRACKET USING</div>
                          <i class="material-icons align-middle mr-2">keyboard_tab</i> <span class="align-middle"> CURRENT SEEDING</span>
                        </button>
                      </div>

                      <div *ngIf="generated_bracket == 1" class="form-group">
                        <div class="bg-white bye-list-container">
                          <div class="cp-details-head pt-5">
                            <small class="text-uppercase">SELECT SEED TO COMPETE WITH BYE/s : {{byes_counter}}</small>
                          </div>
                          <div class="px-3 bye-list">
                            <div class="row" *ngFor="let seed of tournament.seeding; let i = index;">
                              <div class="ml-4">
                                <div class="checkbox checkbox-circle checkbox-info">
                                  <label class="checkbox-checked">
                                    <input [(ngModel)]="selected_byes[i].selected" type="checkbox" (change)="selectBye($event, selected_byes[i])"> <span class="label-text">{{seed.repName}}</span>
                                  </label>
                                </div>
                                <!-- /.checkbox -->
                              </div>
                            </div>
                          </div>
                          <button (click)="currentSeedBracket()" class="btn btn-block btn-primary fs-18 letter-space2 my-3 fw-600">
                            <i class="material-icons align-middle mr-2">keyboard_tab</i> <span class="align-middle">GENERATE BRACKET</span>
                          </button>
                        </div>
                        <!-- /.checkbox -->

                      </div>
                      <div *ngIf="generated_bracket == 2" class="mt-4">
                        <button class="btn btn-block text-dark bg-white fs-18 letter-space2 lh-10 my-3 fw-600">
                          <div class="fs-12 mb-0 text-muted fw-300">GENERATED BRACKET USING</div>
                          <i class="material-icons align-middle mr-2">shuffle</i> <span class="align-middle">RANDOMIZE</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="widget-body clearfix col-md-8 mx-auto">
                    <h5 class="box-title">QUOTA COMPETITION</h5>
                    <div class="accordion accordion-minimal" id="accordion-5" role="tablist" aria-multiselectable="true">
                      <div class="card">
                        <div class="card-header" role="tab" id="heading13">
                          <h6 class="card-title fw-600"><a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="collapsed">TSI: 100,000</a></h6>
                        </div>
                        <div id="collapseFive" class="card-collapse collapse" role="tabpanel" aria-labelledby="heading13" style="">
                          <div class="card-body">
                            <div class="px-3 py-3  mb-1 text-left d-flex align-items-center text-dark fs-12 fw-600 opacity3 ff-theme">
                              <div class="">PARTICIPANT</div>
                              <div class="ml-auto">TSI</div>
                            </div>
                            <div class="seed-item border-left border-gray bw-5 bg-white px-3 py-3 rounded mb-3 text-left d-flex align-items-center text-dark fs-16">
                              <div>
                                <!--<img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">-->
                                <span class="ml-2 ff-theme align-middle  fw-400">ALEX AMINI (REP)</span>
                              </div>
                              <div class="ml-auto">
                                10.00
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- /.card -->
                      <!-- /.panel -->
                    </div>
                    <!-- /.panel-group -->
                  </div>
                  <div id="big" class="match-bracket mt-5" style="width:12in; height: 12in; overflow-x: auto; overflow-y: auto;">

                  </div>
                  <section id="bracket" class="d-none">
                    <div class="container">
                      <div class="split split-one">
                        <div class="round round-one current">
                          <div class="round-details">Round 1<br /><span class="date">March 16</span></div>
                          <ul class="matchup">
                            <!--
            <li clss="team">
                <img src="assets/img/user-4.jpg" class="rounded" alt="" height="30">
                <span class="ml-2 ff-theme align-middle  fw-500">Mayan Donadona</span>
            </li>
             -->
                            <li class="team team-top border-color-gray"><i class="text-muted">TBD</i><span class="score">-</span></li>
                            <li class="team team-bottom border-color-yellow"><i class="text-muted">TBD</i><span class="score">-</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top border-color-red"><i class="text-muted">TBD</i><span class="score">-</span></li>
                            <li class="team team-bottom border-color-info"><i class="text-muted">TBD</i><span class="score">-</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top border-success"><i class="text-muted">TBD</i><span class="score">-</span></li>
                            <li class="team team-bottom border-color-blue"><i class="text-muted">TBD</i><span class="score">-</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top border-color-purple"><i class="text-muted">TBD</i><span class="score">-</span></li>
                            <li class="team team-bottom border-color-secondary"><i class="text-muted">TBD</i><span class="score">-</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top border-color-slate"><i class="text-muted">TBD</i><span class="score">-</span></li>
                            <li class="team team-bottom border-color-pink"><i class="text-muted">TBD</i><span class="score">-</span></li>
                          </ul>
                        </div>  <!-- END ROUND ONE -->
                        <div class="round round-two ">
                          <div class="round-details">Round 2<br /><span class="date">March 18</span></div>
                          <ul class="matchup">
                            <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                          </ul>
                        </div>  <!-- END ROUND TWO -->

                        <div class="round round-three">
                          <div class="round-details">Round 3<br /><span class="date">March 22</span></div>
                          <ul class="matchup">
                            <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                          </ul>
                        </div>  <!-- END ROUND THREE -->
                      </div>
                      <div class="champion">
                        <div class="semis-l">
                          <div class="round-details">west semifinals <br /><span class="date">March 26-28</span></div>
                          <ul class="matchup championship">
                            <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                          </ul>
                        </div>
                        <div class="final">
                          <span class="rank-icon rank-gold"><i class="fa fa-trophy"></i></span>
                          <div class="round-details">championship <br /><span class="date">March 30 - Apr. 1</span></div>
                          <ul class="matchup championship">
                            <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                          </ul>
                        </div>
                        <div class="semis-r">
                          <div class="round-details">east semifinals <br /><span class="date">March 26-28</span></div>
                          <ul class="matchup championship">
                            <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                          </ul>
                        </div>
                      </div>

                      <div class="split split-two">

                        <div class="round round-three">
                          <div class="round-details">Round 3<br /><span class="date">March 22</span></div>
                          <ul class="matchup">
                            <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                          </ul>
                        </div>  <!-- END ROUND THREE -->
                        <div class="round round-two">
                          <div class="round-details">Round 2<br /><span class="date">March 18</span></div>
                          <ul class="matchup">
                            <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                            <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                          </ul>
                        </div>  <!-- END ROUND TWO -->
                        <div class="round round-one current">
                          <div class="round-details">Round 1<br /><span class="date">March 16</span></div>
                          <ul class="matchup">
                            <li class="team team-top"><i class="text-muted">TBD</i><span class="score">-</span></li>
                            <li class="team team-bottom"><i class="text-muted">TBD</i><span class="score">-</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top"><i class="text-muted">TBD</i><span class="score">-</span></li>
                            <li class="team team-bottom"><i class="text-muted">TBD</i><span class="score">-</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top"><i class="text-muted">TBD</i><span class="score">-</span></li>
                            <li class="team team-bottom"><i class="text-muted">TBD</i><span class="score">-</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top"><i class="text-muted">TBD</i><span class="score">-</span></li>
                            <li class="team team-bottom"><i class="text-muted">TBD</i><span class="score">-</span></li>
                          </ul>
                          <ul class="matchup">
                            <li class="team team-top"><i class="text-muted">TBD</i><span class="score">-</span></li>
                            <li class="team team-bottom"><i class="text-muted">TBD</i><span class="score">-</span></li>
                          </ul>
                        </div>  <!-- END ROUND ONE -->
                      </div>
                    </div>
                  </section>
                  <!-- End: Bracket -->
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</ng-template>

<script type="text/javascript" src="jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="jquery.bracket.min.js"></script>
