<div class="modal-header">
  <h4 class="modal-title">Add Member</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content border-0">
      <div class="card-body p-0">
        <div class="form-input-icon">

          <ng-select #selectSeed placeholder="Search Employee" name="selectSeed" [items]="rep" bindLabel="first_name" [loading]="employeeLoading"
                     [typeahead]="employeeInput$" (change)="addSeed($event)">
            <ng-template ng-label-tmp let-item="item">
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              {{ item.first_name }} {{ item.last_name}}
            </ng-template>
          </ng-select>
        </div>
        <div *ngFor="let repEmp of rep" class="seed-item border-left border-gray bw-5 bg-white px-3 py-2 rounded mb-3 mt-3 text-left d-flex align-items-center text-dark fs-16">
          <div>
            <!--<img src="assets/img/user-1.jpg" class="rounded" alt="" height="30">-->
            <span class="ml-2 ff-theme align-middle  fw-400"> {{repEmp.first_name}} {{repEmp.last_name}} </span>
          </div>
          <div class="ml-auto">
          
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
