/* PAGE  no sidebar */
.ch-page .content-wrapper{
	/*padding-top: 3rem;*/
}
.sidebar-expand .main-wrapper,
.sidebar-collapse .main-wrapper{
	margin-left: 80px;
}
.ch-theme.sidebar-expand .navbar-brand img{
    padding-left: 0;
    padding-right: 3rem;
}
.ch-theme.sidebar-collapse .logo-collapse{
	padding-left: 0rem;
    padding-right: 0.5rem;
}
.ch-theme .navbar-brand{
	overflow: hidden;
}
.sidebar-collapse .sidebar-nav{
	padding-left: 0.7em;
}
.ch-theme .navbar,
.ch-theme .navbar-brand{
	height: 4rem; 
}
.ch-theme .navbar-brand img{
	margin-left: 1rem;
}
.ch-theme.sidebar-collapse .site-sidebar{
	top: 4rem;
	position: fixed;
	transition:all ease-in-out 0.3s;
	width: 5.79571em;
}
.ch-theme .site-sidebar{
	height: calc(100vh - 4rem);
}
.ch-theme.sidebar-expand .content-wrapper, 
.ch-theme.sidebar-collapse .content-wrapper{
	padding-top: 4rem;
}
.sidebar-collapse .navbar-header{
	width: 14.0625rem;
}

.ch-theme .navbar{
    /*background: -webkit-gradient(linear, left top, right top, from(#02693e), to(#05c555));
    background:linear-gradient(90deg, #efefef,#aaa );*/
    background: #fff;
    border-bottom: 1px solid #eef1f2;
}
.ch-theme .footer{
	background:transparent;
	font-size: 0.7rem;
}
.ch-theme .navbar .thumb-xs2 img,
.ch-theme .navbar .navbar-nav .avatar img{
	max-width: unset;
	width: 32px;
}
.navbar-nav .avatar::before{
	display: none;
}
.ch-theme .side-menu{
	/*margin-top: 0.42857em;*/
	margin-top: 0px;
}
/* background green */
.ch-theme .navbar .navbar-nav > li > a.active,
.ch-theme .navbar .navbar-nav > li > a:hover,
.ch-theme .navbar .navbar-nav > li > a:focus,

.ch-theme .navbar .navbar-nav .avatar::before,
.ch-theme .navbar .navbar-nav .avatar::before,

.ch-theme .navbar .btn-list .btn,
.ch-theme .modal-content .close:hover{
	background:#000 ;
}
.ch-theme .navbar-nav > li > a{
	color: #000;
}
.bg-opg{
	background-color: #fff;
}
.tabs-page .bg-opg .nav-tabs .nav-link.active{
	color: #03a14b;
	box-shadow: 0px -4px 0 0 #05c555;
}
.tabs-page .bg-opg .nav-tabs .nav-link{
	padding: 1rem 1.5rem;
	color: #aaa;
	background-color: #fff;
}
/* Themes Font */
.ff-theme{
    /*font-family: "Montserrat", sans-serif;*/
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}
/* color green */
.ch-theme .dropdown-menu .dropdown-item strong,
.ch-theme .dropdown-menu .dropdown-item .list-icon,
.ch-theme .icon-muted,
.ch-theme a:not(.btn),
.ch-theme a,
.ch-theme .side-menu .sub-menu li a,
.ch-theme .side-menu :not([class*="color-"]) > .list-icon,
.ch-theme .btn-outline-success{
	color: #333 ;

}
/* color green important */
.ch-theme .color-color-scheme{
	color: #03a14b !important;
}
/* Dark color a*/
.ch-theme .footer,
.ch-theme .dropdown-menu .dropdown-header,
.ch-theme .side-menu > li > a{
	color: #3e4b5b;
}

/* border gray */
.ch-theme .form-control:focus{
	border-color:  #3e4b5b;
}
/* border green */
.ch-theme .btn-outline-success{
	border-color: #03a14b;
}
.my_projects_list_content{
	height:435px;
	overflow-y: auto;
}

.max-360{
	max-height: 360px;
	overflow-y: auto;
}
.a-dark{
	display: inline-block;
	cursor: pointer;
}
.a-dark:hover{
	color:#ffcd01 !important;
}
/* .table-hover hover color*/
.ch-theme .table-hover tbody tr:hover{
	background-color: #f5f5f5;
	cursor: pointer;
}
/* Green Button */
.ch-theme .btn-primary,
.ch-theme .btn-success,
.ch-theme .btn-color-scheme,
.ch-theme .btn-circle.btn-xs:hover,
.ch-theme .btn-group-xs > .btn-circle.btn:hover,
.ch-theme .btn-outline-success:hover{
	color: #fff;
    background-color: #000;
    border-color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}
/* the xs circle-btn */
.ch-theme .btn-circle.btn-xs,
.ch-theme .btn-group-xs > .btn-circle.btn{
	height: 1.375rem;
    width: 1.375rem;
    border-color:  #03a14b;
    border-width: 1px;
}
    
/* Login Page */

.login-page{
	position: relative;
	background-color:#fff;	
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}
.login-page-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	/*opacity: 0.8;*/
	background-image: url(../img/login-bg2.jpg);
}
.login-page:before{
	content:"";
	position: absolute;
	height: 405px;
	width:400px;
	background-image: url(../img/login-bottom-bg.png);
	background-repeat: no-repeat;
	z-index: 1;
	bottom:0;
	right:0;
}
.login-page:after{
	content:"";
	position: absolute;
	height: 300px;
	width:400px;
	background-image: url(../img/login-top-bg.png);
	background-repeat: no-repeat;
	z-index: 1;
	top:-10px;
	left:0;
}
.login-page .navbar-header{
	width:100%;
}
.login-center{
	/*box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.2);*/
	background-color: transparent;
	margin-bottom: 10rem;
	position: relative;
	padding-left:5.7143em;
	padding-right: 5.7143em;

}
.login-center .form-control{
	font-size: 1rem;
	min-height: 50px;
	border-radius:0px;
	color:#000;
	background-color: transparent;
}
.login-center .form-control:valid{
	border-color: #000;
}

.login-center #to-recover{
	color:#aaa;
	
}
.login-center #to-recover:hover{
	color:#333;
}
.login-center .btn{
	min-height: unset;
	border-radius: 0px;
	background-color: #000;
	color:#fff;
}
.login-center .btn:hover{
	/*box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.2);*/
	background-color: transparent;
	color: #000;
	border-color:#000;
}



.card.dash-anchor{
	position: relative;
	height: 190px ;
	cursor: pointer;
    font-family: "Montserrat", sans-serif;
   	/*min-width:190px;*/
   	border:none;
   	transition:all ease-in-out 0.3s;
   	margin: 1rem;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.2);
}
.dash-anchor-icon{
	margin-top: 2rem;
}
.dash-anchor-title{
	font-weight: 500;
}
.dash-anchor-menu{
	position: absolute;
	overflow:hidden;
	transition:all ease-in-out 0.3s;
	top: 0;
	width: 100%;
	left: 0;
	background-color: #aaa;
	height: 100%;
    background: -webkit-linear-gradient(#02693e,#05c555 );
    opacity: 0;
}
.dash-anchor .dash-anchor-icon{
	/*height: 30px;*/
	transition: all ease-in-out 0.3s;	

}
.dash-anchor .dash-anchor-icon i{
	/*transition:all ease-in-out 0.3s;*/
}
.dash-anchor:hover .dash-anchor-menu{
	opacity: 1;
}
.dash-anchor:not(:hover) .dash-anchor-icon{
	color: #05c555 !important;
}
.dash-anchor .dash-anchor-icon i{
	font-size:2.4rem !important;
	/*background: -webkit-linear-gradient(#02693e,#05c555 );
	    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}
.dash-anchor:hover{
	background-color: #05c555;
}
.dash-anchor:hover .dash-anchor-title.text-dark{
    color:#fff !important;
}
.dash-anchor:hover .dash-anchor-icon{
	color: #fff !important;
}
.dash-anchor .dash-anchor-menu a{
    color: #3e4b5b;
    font-weight: 400;
    line-height: 1.4;
    transition:all ease-in-out 0.3s;
}
.dash-anchor .dash-anchor-menu a:hover{
	font-weight: 500;
}







.opacity1{
	opacity: 0.1;
}
.opacity2{
	opacity: 0.2;
}
.opacity3{
	opacity: 0.3;
}
.opacity4{
	opacity: 0.4;
}
.opacity5{
	opacity: 0.5;
}
.opacity6{
	opacity: 0.6;
}
.opacity7{
	opacity: 0.7;
}
.opacity8{
	opacity: 0.8;
}
.opacity9{
	opacity: 0.9;
}



/* user profile */
.user-container,.office-container{
	margin:0 -2.14286em;
	position: relative;
	z-index: 1;
}
.user-container:before{
	content: "";
	position: absolute;
	width:100%;
	height: 285px;
	left: 0%;
	top:0rem;
	z-index: 0;
	opacity: 0.7;
	background-color: #fff;
	background: -webkit-linear-gradient(rgba(254, 232, 175, 0.8),rgba(255,255,255,.5));
}
.user-container.silver:before{
	background: -webkit-linear-gradient(rgba(170, 170, 170,.2),rgba(255,255,255,.5));
}
.user-container:after{
	content: "";
	position: absolute;
	width: 100%;
	height:285px;
	left:0;
	top:0;
	z-index: -1;
	background-image: url(../img/login-bg.jpg);
	background-repeat: no-repeat;
	background-position: -420px center;
	opacity: 0.9;
}
.office-container{
	/*background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1),rgba(255,255,255,1));*/
	background:transparent;
}
.office-container:after{
	content: "";
	position: absolute;
	width: 100%;
	height:285px;
	left:0;
	top:0;
	z-index: -1;
	background-image: url(../img/office-bg.jpg);
	background-repeat: no-repeat;
	background-position: -70px center;
	opacity: 0.5;
}
.user-card-holder{
	width: 230px;
}
.user-card{
	z-index: 10;
	position: relative;
	width: 230px;
	margin-bottom: -84px;
	box-shadow: 0px 5px 20px rgba(69, 101, 173, 0.2);
	border-color:transparent !important;
	transition: all ease-in-out 0.25s;
	border:0px !important;
	overflow: hidden;
}
.user-card:before{
	content: "";
	position: absolute;
	width: 100%;
	height:70px;
	right:0rem;
	top:0rem;
	z-index: -1;
	background-color: #eee;
	opacity: 0.3;
	transform: rotate(-35deg) scale(1.7);
}

.user-details{
	z-index: 10;
	position: relative;
}
.user-quickstats{
	margin-left:230px;
}
.stats-box,.box-shadow,.dropdown-menu{
	box-shadow: 0px 2px 10px rgba(69, 101, 173, 0.1);
}
.stats-box{
	position: relative;
	overflow: hidden;
}
.stats-box:before{
	content: "";
	position: absolute;
	width: 100%;
	height:30px;
	right:-5rem;
	top:4.5rem;
	z-index: 0;
	background-color: #eee;
	opacity: 0.4;
	transform: rotate(-14deg) scale(1.2);
}

.sps--abv{
	position: fixed;
}
.sps--blw{
	position: fixed;
}

.side-panel{
	position: fixed;
	width: 300px;
	right: 0;
	top:0;
	height: 100%;
	background-color: #fff;
	z-index: 10;
	box-shadow: 0px 2px 10px rgba(69, 101, 173, 0.1);
	padding: 5rem 1.2rem;
	transition: all ease-in-out 0.3s;
	transform: translateX(100%);
}
.side-panel.active{
	transform: translateX(0);
}

/* TABS */
.tabs-bordered .nav-tabs li.active a, 
.tabs-bordered .nav-tabs li.active a:focus, 
.tabs-bordered .nav-tabs li.active a:hover, 
.tabs-bordered .nav-tabs .nav-link.active, 
.tabs-bordered .nav-tabs .nav-item.show .nav-link,
.tabs-bordered .nav-tabs .nav-link.active::before, .tabs-bordered .nav-tabs li a:hover::before, .tabs-bordered .nav-tabs li a:focus::before{
	background:#000;
}
.tabs-bordered .nav-tabs a:hover, .tabs-bordered .nav-tabs a:focus{
	color:#000;
}

/* a with icon */
.a-w-icon{
	position: relative;
	overflow: hidden;
}
i.bg-icon{
	position: absolute;
	font-size: 7rem;
	opacity: 0.05;
	transform: rotate(-15deg);
	top:-1rem;
	left: 4rem;
}

/* RANK COLORS*/
tr.table-tr-gold{
	/* lighter yllow: #fff4c6*/
	border-left:2px solid #ffea97;
	background: -moz-linear-gradient(180deg, transparent 0%, #fffbec 50%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fffbec), color-stop(50%, transparent)); /* safari4+,chrome */
	background: -webkit-linear-gradient(180deg, transparent 0%, #fffbec 50%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(180deg, transparent 0%, #fffbec 50%); /* opera 11.10+ */
	background: -ms-linear-gradient(180deg, transparent 0%, #fffbec 50%); /* ie10+ */
	background: linear-gradient(270deg, transparent 0%, #fffbec 50%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbec', endColorstr='transparent',GradientType=1 ); /* ie6-9 */
}
.bronze{
	color:#d1a683;
	font-weight: 800;
	font-size: 1.4rem;
	vertical-align: middle;
	display: inline-block;
	margin-top: 1px;
	line-height: 1px;
}
.gold-color{
	color:#ffcd01 !important;
}
.bronze-color{
	color:#d1a683 !important;
}
.silver-color{
	color:#aaa !important;
}

.rank-icon{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.rank-gold i{
	background: -webkit-linear-gradient(#ffcd01, #ffea97);
	 background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.rank-silver i{
	background: -webkit-linear-gradient(#aaa, #f3f3f3);
	 background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.rank-bronze i{
	background: -webkit-linear-gradient(#d1a683, #ffe4cf);
	 background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}



.p-ranking-container{
	margin:0 -2.14286em; 
	position: relative;
	z-index: 1;
}
.p-ranking-container:before{
	content: "";
	position: absolute;
	width: 100%;
	height:285px;
	left:0;
	top:0;
	z-index: -1;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 1),rgba(255,255,255,1));
}
.p-ranking-container:after{
	content: "";
	position: absolute;
	width: 100%;
	height:285px;
	left:0;
	top:0;
	z-index: -1;
	background-image: url(../img/ranking-bg.jpg);
	background-repeat: no-repeat;
	background-position: -420px center;
	opacity: 0.2;
}
.p-ranking-box{
	min-height: 75vh;
}

/**/
.table-holder{
		overflow-x: auto;
	}	
.ch-breadcrumb{
	overflow-x: hidden;
	display: block;	
    white-space: nowrap;
    margin-right: 10px;
    padding-top: 5px;
}
.ch-breadcrumb .breadcrumb{
	max-width: 100%;
	overflow-y: hidden;
	overflow-x: auto;
    padding-left: 0px;
}
.ch-breadcrumb .breadcrumb::-webkit-scrollbar {
    width: 2px;
    height: 3px;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    cursor: ew-resize !important;
}
.ch-breadcrumb .breadcrumb::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
.ch-breadcrumb .breadcrumb::-webkit-scrollbar-thumb {
    background: #aaa; 
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
}
/* Handle on hover */
.ch-breadcrumb .breadcrumb::-webkit-scrollbar-thumb:hover {
    cursor: ew-resize !important;
    background: #555; 
}

.ch-breadcrumb .breadcrumb::-moz-scrollbar {
    width: 2px;
    height: 3px;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    cursor: ew-resize !important;
}
.ch-breadcrumb .breadcrumb::-moz-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
.ch-breadcrumb .breadcrumb::-moz-scrollbar-thumb {
    background: #aaa; 
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
}
/* Handle on hover */
.ch-breadcrumb .breadcrumb::-moz-scrollbar-thumb:hover {
    cursor: ew-resize !important;
    background: #555; 
}
.ch-breadcrumb li{
	float: none;
	display: inline-block;
}
.ch-breadcrumb li a{
	letter-spacing: 0.5px;
	white-space: nowrap !important;
	color:#ffcd01 !important;
	position: relative;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	display: inline-block;
	margin: 5px 0px;
	padding: 2px 8px;
	border-radius: 4px;
}
.ch-breadcrumb .breadcrumb li:not(:first-child) a{
	margin-left: 4px;
}
.ch-breadcrumb li a:hover{
	background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.1);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.ch-breadcrumb li  span{
	padding: 2px 8px;
	letter-spacing: 0.5px;
	margin: 10px 0px;
	cursor: default;
}
.ch-breadcrumb li.active{
	font-weight:400;
	color:#aaa;
}


/* START: COMPETITION PAGE */
.competition-page{
    margin: 0 -2.14286em;
    position: relative;
    z-index: 1;
}
.cp-page-nav{
	position: absolute;
	top:0px;
	left:0px;
	min-height: 50px;
	width: 100%;
	line-height: 10px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	z-index: 100;
	border-bottom: 1px solid #eee;
}
.cp-update-btn{
	display: inline-block;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: #aaa;
	color:#fff;
	text-align: center;
	z-index: 100;
	box-shadow: 0 3px 6px rgba(0,0,0,.2);
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	cursor: pointer;
}
.cp-update-btn i{
	color: #fff;
	line-height: 2.5;
	font-size: 2rem;
}
.cp-update-btn:hover{
	background-color: #222;
}
.cp-hero{
	position: relative;
	padding-top: 9rem;
	height: 100vh;
}
.cp-hero-2{
	height: auto;
	padding-top: 1rem;
}
.cp-hero .container{
	position: relative;
}
.cp-hero .cp-hero-bg{
	position: absolute;
	z-index: 0;
	width:100%;
	height: 100%;
	top:0px;
	left:0;
}
.cp-hero .cp-hero-bg:before{
	content: "";
    position: absolute;
    width: 100%;
    height:100vh;
    left: 0;
    top: 0;
    z-index: 0;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0),rgba(255,255,255,1));
}
.cp-hero .cp-hero-bg img{
   min-width:100%;
}
.cp-hero h2{
	font-weight: bold;
	color:#333;
	margin-bottom: 2rem;
	margin-top: 4rem;
}
.cp-hero-date{
	border-top:3px solid #222;
	display: inline-block;
	color:#222;
	font-size: 1.4rem;
	padding:.5rem 3rem;
	font-weight: 500;
	letter-spacing: 2px;
}
.cp-details{
	position: relative;
	background-color: #fff;
}
.cp-promo-vid{
	height: 400px;
	width: 100%;
	display: inline-block;
	margin-left:auto;
	margin-right: auto;
	position: relative;
	background-color: #fff;
	margin-top: -8rem;
	box-shadow: 0px 40px 30px rgba(69, 101, 173,0.3);
	margin-bottom: 5rem;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	cursor: pointer;
}
.cp-promo-vid:before{
	content: "Watch Promotional Video";
	position: absolute;
	width: 300px;
	height: 50px;
	left:0;
	right: 0;
	bottom: 1rem;
	z-index: 1;
	background-color: rgba(0,0,0,0.7);
	padding:.7rem 1rem;
	color:#fff;
	font-size: 16px;
	text-transform: uppercase;
	margin:auto ;
	display: inline-block;
	border-radius: 2rem;
	letter-spacing: 0.5px;
	opacity: 0;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
}
.cp-promo-vid i{
	font-size: 8rem;
	position: absolute;
	top: 9rem;
	color:#fff;
	left:0;
	right: 0;
	margin:0 auto;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
}
.cp-promo-vid:hover{
	transform: scale(1.05);
}
.cp-promo-vid:hover i{
	top:8rem;
}
.cp-promo-vid:hover:before{
	bottom: 4rem;
	opacity: 1;
}
.cp-promo-vid img{
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
	position: relative;
}
.menu-division{
	background-color: #fff;
	box-shadow: 0px 4px 5px rgba(0, 0, 0,0.2);
	position: relative;
}
.menu-division .nav.nav-tabs{
	margin-right: 0px;
	width: auto !important;
}
.menu-division .nav.nav-tabs li{
	margin: 0px;
	width: 25%;
}
.menu-division a{
	display: inline-block;
	font-size: 1rem;
	margin:0 0rem;
	font-weight: 600;
	letter-spacing: 0.5px;
	color:#aaa !important;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	width: 100%;
	padding-right: 1rem;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
}
.menu-division a.active,.menu-division a:hover{
	color:#03a9f3 !important;
}
.menu-division a i{
	vertical-align: middle;
	margin-right: 10px;
}

.cp-tab-details{
	padding-top: 4rem;
	background-color: #f5f7fa;
	padding-bottom: 8rem;
}
.cp-details-head{
	margin-bottom: 1rem;
}
.cp-details-head i{
	margin-right: 1rem;
	color:#03a9f3;
}
.cp-details-head small{
	font-weight: 500;
	letter-spacing: 0.5px;
	font-size: 1rem;
	color: #03a9f3;
}
.cp-details-rules p{
	font-size: 1.3rem;
	color:#222;
	text-align: justify;
	letter-spacing: 0.5px;
}
.cp-details-rules blockquote{
	padding:0;
	padding-left: 2rem;
	border:0;
	font-family: arial;
	border-left:4px solid #03a9f3;
	font-size: 1.3rem;
	color:#222;
	text-align: justify;
	letter-spacing: 0.5px;
}
.placer-badge{
	display: inline-block;
	border-radius: 3rem;
	background:#222;
	height: 100px;
	overflow: hidden;
	width: 70px;
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	cursor: pointer;
}
.placer-badge i{
	display: block;
	height: 50px;
	width:100%;
	text-align: center;
	vertical-align: middle;
	line-height: 4;
	background: #fff;
	position: relative;
	top:-1px;
}
.placer-badge i:after{
	content: "";
	position: absolute;
	height: 10px;
	width: 100%;
	bottom: -5px;
	left: 0px;
	background-color: #fff;
	transform:scale(1.05) rotate(-7deg);
	z-index: 0;
}
.placer-badge span{
	display: block;
	vertical-align: middle;
	color: #fff;
	text-align: center;
	line-height:3.4;
	font-size: 16px;
}
.small-timeline {
    height: calc(100% - 2.9rem);
    overflow-y: auto;
    position: relative;
}
.small-timeline .small-timeline-item {
    position: relative;
    line-height: 1.3;
    padding-left: 2.6rem;
}
.small-timeline .small-timeline-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 1.8rem;
    height: 15px;
    width: 15px;
    border: 2px solid #aaa;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1;
}
.small-timeline .small-timeline-item:not(:last-child):after {
    content: "";
    position: absolute;
    left: 7px;
    top: 1.8rem;
    width: 2px;
    height: 100%;
    background-color: #aaa;
}
.small-timeline .small-timeline-item:not(:last-child) .timeline-item-name {
    border-bottom: 1px solid #eee;
}
.small-timeline .small-timeline-item.small-timeline-item-yellow:before {
    border-color: #f8bd18;
}
.small-timeline .small-timeline-item.small-timeline-item-yellow:not(:last-child):after {
    background-color: #f8bd18;
}
.seed-item{
	box-shadow: 0 2px 6px rgba(0,0,0,.1);
	cursor: pointer;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
}
.seed-item:hover{
	transform:scale(1.02);
	box-shadow: 0 3px 10px rgba(0,0,0,.03);
}
.seed-item:hover .seed-item-name{
	color: #03a9f3;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
}

/* COMPETITION PAGE */
.competition-item{
	background-color:#fff;
	position: relative;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	cursor: pointer;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
}
.competition-item:hover{
	transform: scale(1.02);
	box-shadow: 0 3px 10px rgba(0,0,0,.2);
}
.competition-item:hover .ci-name{
	color:#3399ff !important;
}
.competition-item-bg{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	z-index: 0;
	left: 0;
	opacity: 0.1;
}
.competition-item a{
	opacity: 0.4;
	transition: all ease-in-out 0.3s;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
}
.competition-item a:hover{
	opacity: 1;
	color:#3399ff;
}
/* ADD COMPETITION MODAL */
.ac-image-holder{
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: #eee;
	text-align: center;
	line-height: 12.5rem;
	border-radius: 1rem;
	border:1px solid #aaa;
	cursor: pointer;
}
.ac-image-holder i{
	font-size: 5rem;
}
.ac-image-holder:hover{
	border-color:#000;
}
.ac-input-title{
	font-family: "Montserrat", sans-serif;
	border:0;
	border-radius: 0px;
	border-bottom: 3px solid #333;
	padding-left: 0px;
}
/* START: BRACKET */
#bracket {
    font-family: 'Istok Web', sans-serif;
    background: url("http://picjumbo.com/wp-content/uploads/HNCK2189-1300x866.jpg") no-repeat #000;
    background-size: cover;
    min-height: 100%;
    margin: 0;
}

#bracket .hero {
    position: relative;
    text-align: center;
    overflow: hidden;
    color: #fcfcfc;
}

#bracket .hero h1 {
    font-family: 'Holtwood One SC', serif;
    font-weight: normal;
    font-size: 5.4em;
    margin: 0 0 20px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: -1px;
}

#bracket .hero p {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    color: #5CCA87;
    letter-spacing: 6px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
}

#bracket .hero-wrap {
    padding: 3.5em 10px;
}

#bracket .hero p.intro {
    font-family: 'Holtwood One SC', serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 3em;
    margin-bottom: -40px;
}

#bracket .hero p.year {
    color: #fff;
    letter-spacing: 20px;
    font-size: 34px;
    margin: -25px 0 25px;
}

#bracket .hero p.year i {
    font-size: 14px;
    vertical-align: middle;
}

#bracket {
    overflow: hidden;
    background-color: #fff;
    background-color: transparent;
    padding-top: 20px;
    font-size: 12px;
    padding: 40px 0;
}

#bracket .container {
    max-width: 1100px;
    margin: 0 auto;
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#bracket .split {
    display: block;
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 42%;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
}

#bracket .champion {
    float: left;
    display: block;
    width: 16%;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-self: center;
    align-self: center;
    margin-top: -15px;
    text-align: center;
    padding: 230px;
}

#bracket .champion i {
    color: #a0a6a8;
    font-size: 45px;
    padding: 10px 0;
}

#bracket .round {
    display: block;
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 95%;
    width: 30.8333%\9;
}

#bracket .split-two {}

#bracket .split-one .round {
    margin: 0 2.5% 0 0;
}

#bracket .split-two .round {
    margin: 0 0 0 2.5%;
}

#bracket .matchup {
    margin: 0;
    width: 100%;
    padding: 10px 0;
    height: 80px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

#bracket .score {
    font-size: 11px;
    text-transform: uppercase;
    float: right;
    color: #2C7399;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    right: 5px;
}

#bracket .team {
    padding: 0 6px;
    margin: 4px 0;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
   	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    color:#444;
    text-align: left;
}

#bracket .round-two .matchup {
    margin: 0;
    height: 60px;
    padding: 50px 0;
}

#bracket .round-three .matchup {
    margin: 0;
    height: 60px;
    padding: 130px 0;
}

#bracket .round-details {
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #aaa;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    height: 40px;
}
#bracket .round-details .date{
	color: #333;
	font-size: 12px
}
#bracket .champion li,
#bracket .round li {
    background-color: #fff;
    box-shadow: none;
    opacity: 0.45;
}

#bracket .current li {
    opacity: 1;
}

#bracket .current li.team {
	border-left:2px solid #eee;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    opacity: 1;
    border-radius: 3px !important;
}
#bracket .current li.team:hover{
	box-shadow: 0 2px 6px rgba(0,0,0,.1);
	cursor: pointer;
}
#bracket li.team.win {
	opacity: 1;
	border:1px solid;
}
#bracket .vote-options {
    display: block;
    height: 52px;
}

#bracket .final {
    margin: 4.5em 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


@media screen and (min-width: 981px) and (max-width: 1099px) {
  #bracket .container {margin: 0 1%;}
  #bracket .champion {width: 14%;}
  #bracket .split {width:43%; }
  #bracket .split-one .vote-box {margin-left: 138px;}
  #bracket .hero p.intro {font-size: 28px;}
  #bracket .hero p.year {margin: 5px 0 10px;}

}

@media screen and (max-width: 980px) {
  #bracket .container {-webkit-flex-direction:column;-moz-flex-direction:column;flex-direction:column;}
  #bracket .split, .champion {width: 90%;margin: 35px 5%;}
  #bracket .champion {-webkit-box-ordinal-group:3;-moz-box-ordinal-group:3;-ms-flex-order:3;-webkit-order:3;order:3;}
  #bracket .split {border-bottom: 1px solid #b6b6b6; padding-bottom: 20px;}
  #bracket .hero p.intro {font-size: 24px;}
  #bracket .hero h1 {font-size: 3em; margin: 15px 0;}
  #bracket .hero p {font-size: 1em;}
}


@media screen and (max-width: 400px) {

  #bracket .split {width: 95%;margin: 25px 2.5%;}
  #bracket .round {width:21%;}
  #bracket .current {-webkit-flex-grow:1;-moz-flex-grow:1;flex-grow:1;}
  #bracket .hero h1 {font-size: 2.15em; letter-spacing: 0;margin:0; }
  #bracket .hero p.intro {font-size: 1.15em;margin-bottom: -10px;}
  #bracket .round-details {font-size: 90%;}
  #bracket .hero-wrap {padding: 2.5em;}
  #bracket .hero p.year {margin: 5px 0 10px; font-size: 18px;}

}
/* END  : BRACKET */

/* END  : COMPETITION PAGE */
@media (max-width: 991px){
	.user-card-holder .user-card{
		padding-top:0.5rem !important;
		text-align: left !important;
		padding-left: 1rem !important;
		padding-right: 1rem !important;
		padding-bottom: 0.5rem !important;
		margin-bottom: 0px !important;	
		position: absolute !important;
	}
	.user-card img{
		width: 50px;
	}
	.user-card-info, .user-card-img{
		display: inline-block;
		vertical-align: middle;
	}
	.user-card-info div{
		margin:0px;
	}
	.user-card-info{
		padding-left: 1rem;
		margin-bottom: 0px !important;
	}
	.user-card-info .py-2{
		padding: 0px !important;
	}
	.user-card-info .mt-3{
		margin-top: 0px !important;
	}
	.user-card-holder{
		margin-left:1rem;
		z-index: 100;
		position: relative;
	}
	.user-container:after{
		background-position: -50rem center;
		height: 115px;
	}
	.user-container:before{
		height: 115px;
	}

}
@media (max-width: 961px){
	.sidebar-expand .main-wrapper, .sidebar-collapse .main-wrapper{
		margin-left: 0px;
	}
	.ch-theme.sidebar-expand .content-wrapper, .ch-theme.sidebar-collapse .content-wrapper{
		padding-top: 0;
	}
	.ch-theme.sidebar-collapse .site-sidebar{
		width: 15rem;
	}
	.container{
		max-width: 92%;
	}
	.user-quickstats .col-9{
		max-width: 100%;
	}
	.ch-theme .navbar{
		position: fixed;
	}
	.user-container{
		padding-top: 4rem;
	}
	.user-container:after,.office-container:after,.p-ranking-container:after{
		background-position: -50rem center;
		height: 175px;
	}
	.user-container:before,.office-container:before,.p-ranking-container:before{
		height: 175px;
	}
	.office-container:after,.p-ranking-container:after{
		opacity: 0.2;
	}
	.user-details{
		padding-top: 5.5rem !important;
	}
	.stat-box-holder{
		padding-top: 0px !important;
	}
	.office-reps{
		margin-top: 0px !important;
	}
	
	.office-container .stat-box-holder .d-flex{
		display: block !important;
	}
	.office-container .stat-box-holder .col-4{
		max-width: unset;
		flex: unset;
		display: block;
	}
	.office-container .user-details{
		padding-top: 5.5rem !important;
		border-radius: 0px;
	}
	.office-container .user-details .office-reps{
		min-height: 100%;
		overflow-y: auto; 
		width: 75%;

	}
	.office-reps-details{
		padding-left: 0px !important;
	}
	.p-ranking-box{
		margin-top: 5rem;
		min-height: unset;
	}
	
}
@media (max-width: 768px){
	
	.login-page:before{
	    height: 21rem;
    	width: 17rem;
	}
	.login-page:after{
	    height: 18rem;
   		width: 25rem;
        top: -5rem;
	}
	.login-page .navbar-header a img{

	}
	.login-page{
		background: -webkit-linear-gradient(rgba(254, 232, 175, 0.8),rgba(255,255,255,.5));
	}
	.login-page-bg{
		opacity: 0.3;
	}
	.login-center .form-control{
		border-color: #000;
	}
	.login-center #to-recover{
		color:#333;
	}
	.user-container .col-sm-8{
		max-width: 100% !important;
		flex:0 0 100%;
		padding-left: 0px !important;
	}
	.user-card-parent{
		padding-left: 0px !important;
	} 
	.office-container .user-details{
		padding-left: 0px !important;
	}
	.stat-box-holder{
		padding-left: 0px !important;
	}
	.office-container .user-details{
		padding-top: 0px !important;
		margin-top: 5.5rem;
	}
	.office-container .user-details{
		position: relative;
	}
	.stats-box:before{
	    height: 63px;
    	top: 6.5rem;
	}
	.office-container .user-details .office-reps{
		width: 100%;
	}
	.office-reps-details{
		margin-top: 0px !important;
	}
	
}
@media (max-width: 540px) {
	.login-center{
		padding:unset;
		width: 80vw;
		min-width: unset;
		position: relative;
		z-index: 100;
	}
	.stat-box-holder .d-flex{
		display: block !important;
	}
	.stat-box-holder .col-4{
		max-width: unset;
		flex: unset;
		display: block;
	}
	.p-rank-header{
		display: block !important;
	}
	.p-rank-header .ml-auto{
		margin-top: 1rem;
	}
	.p-rank-header2{
		display: block !important;
	}
	.p-rank-header2 .ml-auto{
		width: 100% !important;
		max-width: 100% !important;
		margin-top: 1rem;
		padding: 0px;
	}
	.p-ranking-container .col-10{
		flex:unset;
		max-width: 100%;
	}
	
}
@media (max-width: 400px) {
	.login-page:before {
	    height: 21rem;
	    width: 11rem;
	}
	.login-page:after {
	    top: -10rem;
	}
	.login-page-bg{
		opacity: 0.2;
	}
}
@media (min-width: 768px) and (max-width: 1023px) {

}












